Repository alienspaces/playbymail: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend

test-backend:
  variables:
    POSTGRES_DB: playbymail
    POSTGRES_USER: user
    POSTGRES_PASSWORD: pass
    DATABASE_URL: postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres:5432/$POSTGRES_DB?sslmode=disable
    DATABASE_VERSION: 17.5
    DATABASE_MAX_OPEN_CONNECTIONS: '180'
    DATABASE_MAX_IDLE_CONNECTIONS: '45'
  ...

test-frontend:
  image: node:18-alpine
  stage: test
  script:
  - ./tools/test-frontend

Add testing standards, golangci-lint, domain tests, API tests, E2E auth
  .gitlab-ci.yml
  backend/.golangci.yml
  backend/internal/domain/account_validate_test.go
  backend/internal/domain/adventure_game_validate_test.go
  backend/internal/domain/game_validate_test.go
  frontend/src/App.vue
  frontend/src/api/accountSubscriptions.test.js
  frontend/src/api/creaturePlacements.test.js
  frontend/src/api/creatures.test.js
  frontend/src/api/gameImages.test.js
  frontend/src/api/gameInstanceParameters.test.js
  frontend/src/api/gameInstances.test.js
  frontend/src/api/gameParameters.test.js
  frontend/src/api/gameSubscriptions.test.js
  frontend/src/api/itemPlacements.test.js
  frontend/src/api/items.test.js
  frontend/src/api/locationImages.test.js
  frontend/src/api/locationLinks.test.js
  frontend/src/api/locations.test.js
  frontend/src/api/player.test.js
  frontend/src/components/ConfirmationModal.vue
  frontend/src/components/PageHeader.vue
  frontend/src/components/ResourceModalForm.vue
  frontend/src/components/ResourceTable.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/LoginView.vue
  frontend/src/views/ManagementEntryView.vue
  frontend/src/views/StudioEntryView.vue
  frontend/src/views/VerifyView.vue
  playwright/core/authentication.spec.js
  playwright/legacy/admin-loading-bug.spec.js
  playwright/legacy/admin-navigation.spec.js
  playwright/legacy/auth-flow.spec.js
  playwright/legacy/game-creation.spec.js
  playwright/legacy/home.spec.js
  playwright/legacy/log-monitoring.spec.js
  playwright/legacy/simple-auth.spec.js
  tools/test-backend-core
  tools/test-backend-internal
Due: test-backend, test-frontend

Remove account_user_id as RLS identifier
  backend/internal/runner/server/account/account_contact_handler.go
  backend/internal/runner/server/account/account_contact_handler_test.go
  backend/internal/runner/server/handler_rls/rls.go
  backend/internal/runner/server/player/player_turn_sheet_handler.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
Due: test-backend

Fix golangci-lint config for v2 format
  backend/.golangci.yml
Due: test-backend

Allow lint-backend job to fail without blocking pipeline
  .gitlab-ci.yml
Due: none

Fix account_validate_test to provide required AccountID
  backend/internal/domain/account_validate_test.go
Due: test-backend

Fix account_validate_test to use harness-created account
  backend/internal/domain/account_validate_test.go
Due: test-backend

Fix E2E job PATH to include Go binary install directory
  .gitlab-ci.yml
Due: none

Fix domain validation tests to handle non-nil error returns
  backend/internal/domain/account_validate_test.go
  backend/internal/domain/adventure_game_validate_test.go
  backend/internal/domain/game_validate_test.go
Due: test-backend

Update CI configuration and test tooling
  .gitlab-ci.yml
  tools/golang-lint
  tools/test-e2e
  tools/test-playwright
Due: test-backend

Update turnsheet testdata with latest timestamps
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
Due: test-backend

Fix E2E job to use correct seed data script name
  .gitlab-ci.yml
Due: none

Fix E2E health check endpoint
  .gitlab-ci.yml
Due: none

Fix E2E job process backgrounding
  .gitlab-ci.yml
Due: none

Fix E2E job to properly background processes
  .gitlab-ci.yml
Due: none

Add debug curl test for E2E health check
  .gitlab-ci.yml
Due: none

Add debug output for E2E directory issues
  .gitlab-ci.yml
Due: none

Use http-get protocol and verbose mode for wait-on
  .gitlab-ci.yml
Due: none

Fix E2E test timeout by removing networkidle and adding timeouts
  playwright.config.js
  playwright/core/authentication.spec.js
  playwright/utils/test-helpers.js
  tools/test-e2e
Due: test-backend

Fix Playwright browser installation check for CI environment
  tools/test-e2e
Due: test-backend

Add debugging and timeout to E2E CI job
  .gitlab-ci.yml
  playwright.config.js
  tools/test-e2e
Due: test-backend

Add unbuffered output for E2E tests in CI
  tools/test-e2e
Due: test-backend

Fix E2E test database lock contention in CI
  .env.develop
  .gitlab-ci.yml
  backend/internal/domain/account.go
  playwright.config.js
  playwright/core/authentication.spec.js
  playwright/core/navigation.spec.js
  playwright/utils/test-helpers.js
  tools/test-e2e
Due: test-backend

Fix E2E tests hanging in GitLab CI
  .gitlab-ci.yml
  playwright.config.js
  playwright/auth.setup.js
Due: none

Add multi-page Vite setup for player app
  frontend/player/index.html
  frontend/src/PlayerApp.test.js
  frontend/src/PlayerApp.vue
  frontend/src/components/PlayerSupportFooter.test.js
  frontend/src/components/PlayerSupportFooter.vue
  frontend/src/player-main.js
  frontend/src/router/index.js
  frontend/src/router/player.js
  frontend/vite.config.js
Due: test-frontend

Update platform description to email-first turn-based games
  README.md
  backend/core/server/http.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  frontend/src/views/FaqView.vue
  frontend/src/views/HomeView.test.js
  frontend/src/views/HomeView.vue
  frontend/src/views/StudioEntryView.vue
  playwright/core/player-app-routing.spec.js
Due: test-backend, test-frontend

Match Playwright Docker image to installed version
  .gitlab-ci.yml
Due: none

Skip browser install in CI when using matching Docker image
  tools/test-e2e
Due: test-backend

Fix webServer URL to use /healthz for backend readiness check
  playwright.config.js
Due: none

Add domain methods for game capacity checking and instance assignment
  backend/internal/domain/game_instance.go
  backend/internal/domain/game_instance_capacity_test.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
Due: test-backend

Add public catalog API endpoint GET /api/v1/catalog/games
  backend/internal/mapper/catalog.go
  backend/internal/runner/server/catalog/catalog.go
  backend/internal/runner/server/catalog/catalog_game_handler.go
  backend/internal/runner/server/catalog/catalog_game_handler_test.go
  backend/internal/runner/server/runner.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/schema/api/catalog_schema/catalog.go
  backend/schema/api/catalog_schema/catalog_game.collection.response.schema.json
  backend/schema/api/catalog_schema/catalog_game.schema.json
Due: test-backend

Add game catalog frontend view at /games with Play Now link on home page
  frontend/src/api/catalog.js
  frontend/src/api/catalog.test.js
  frontend/src/router/index.js
  frontend/src/views/GameCatalogView.test.js
  frontend/src/views/GameCatalogView.vue
  frontend/src/views/HomeView.test.js
  frontend/src/views/HomeView.vue
Due: test-frontend

Add join game backend endpoints with player contact creation
  backend/internal/runner/server/player/player_join_game_handler.go
  backend/internal/runner/server/player/player_join_game_handler_test.go
  backend/schema/api/player_schema/join_game.go
  backend/schema/api/player_schema/player.join-game-info.response.schema.json
  backend/schema/api/player_schema/player.join-game-submit.request.schema.json
  backend/schema/api/player_schema/player.join-game-submit.response.schema.json
  backend/schema/api/player_schema/player.join-game-verify-email.request.schema.json
  backend/schema/api/player_schema/player.join-game-verify-email.response.schema.json
Due: test-backend

Fix E2E test failures in GitLab CI
  .gitlab-ci.yml
  playwright/core/player-app-routing.spec.js
Due: none

Add join game frontend view in player app
  frontend/src/api/joinGame.js
  frontend/src/api/joinGame.test.js
  frontend/src/router/player.js
  frontend/src/views/PlayerJoinGameView.test.js
  frontend/src/views/PlayerJoinGameView.vue
  playwright/workflows/join-game.spec.js
Due: test-frontend

Enhance join game turn sheet with delivery method selection
  backend/internal/runner/server/player/player_join_game_handler.go
  backend/internal/turnsheet/adventure_game_join_game.go
  backend/internal/turnsheet/adventure_game_join_game_test.go
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/turnsheet.go
  backend/templates/turnsheet/adventure_game_join_game.template
Due: test-backend

Add manager player invitation system
  backend/internal/jobclient/jobclient.go
  backend/internal/jobworker/send_player_invitation_email.go
  backend/internal/mapper/game_instance.go
  backend/internal/runner/server/game/game_subscription_handler.go
  backend/internal/runner/server/game/game_subscription_handler_test.go
  backend/schema/api/game_schema/game_instance.go
  backend/schema/api/game_schema/invite_player.request.schema.json
  backend/schema/api/game_schema/invite_player.response.schema.json
  backend/templates/email/player_invitation.email.html
Due: test-backend

Add GSI-keyed turn sheet endpoints + fix player auth permission lookup
  backend/internal/runner/server/handler_auth/auth.go
  backend/internal/runner/server/player/player_turn_sheet_handler.go
  backend/internal/runner/server/player/player_turn_sheet_handler_test.go
Due: test-backend

Add turn sheet viewer (PlayerTurnSheetView) and fix login redirect
  frontend/src/api/player.js
  frontend/src/router/player.js
  frontend/src/views/PlayerTurnSheetLoginView.vue
  frontend/src/views/PlayerTurnSheetView.test.js
  frontend/src/views/PlayerTurnSheetView.vue
Due: test-frontend

Assert player app shell contains no account navigation links
  frontend/src/PlayerApp.test.js
Due: test-frontend

Path conditions:
  test-backend: any of: backend/**/*, tools/**/*
  test-frontend: any of: frontend/**/*
