Repository alienspaces/playbymail: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend

Path conditions:
  test-backend: any of: backend/**/*, tools/**/*
  test-frontend: any of: frontend/**/*

Fix harness to set inventory_capacity default value
  backend/internal/harness/adventure_game_character_instance.go
Due: test-backend

Add inventory management turn sheet generation
  backend/internal/record/adventure_game_record/adventure_game_turn_sheet.go
  backend/internal/turn_sheet/adventure_game_inventory_management.go
  backend/internal/turn_sheet/turn_sheet_processor.go
  backend/internal/turn_sheet/types.go
  backend/templates/turn_sheet/adventure_game_inventory_management.template
Due: test-backend

Fix repository test to set inventory_capacity
  backend/internal/repository/adventure_game_character_instance/repository_test.go
Due: test-backend

Add inventory management turn sheet processor
  backend/internal/jobworker/adventure_game/adventure_game.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_inventory_management_processor.go
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
Due: test-backend

Add inventory management turn sheet tests
  backend/internal/turn_sheet/adventure_game_inventory_management_test.go
Due: test-backend

Remove health field from inventory management turn sheet
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_inventory_management_processor.go
  backend/internal/turn_sheet/adventure_game_inventory_management.go
  backend/internal/turn_sheet/adventure_game_inventory_management_test.go
Due: test-backend

Redesign inventory turn sheet layout
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_inventory_management_processor.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  backend/templates/turn_sheet/adventure_game_inventory_management.template
Due: test-backend

Fix inventory management turn sheet tests
  backend/internal/turn_sheet/adventure_game_inventory_management_test.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
Due: test-backend

Adjust inventory turn sheet layout
  backend/internal/turn_sheet/adventure_game_inventory_management.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  backend/templates/turn_sheet/adventure_game_inventory_management.template
Due: test-backend

Remove unused requesterType constants from CLI runner
  backend/internal/runner/cli/runner.go
Due: test-backend

Add relative path from harness to turn_sheet testdata for image loading
  backend/internal/harness/game_image.go
Due: test-backend

Use TEMPLATES_PATH to derive backend directory for image loading
  backend/internal/harness/game_image.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
Due: test-backend

Improve OCR prompt to extract actual turn sheet codes
  backend/internal/agent/openai_vision_agent.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
Due: test-backend

Remove unused imports from GameTurnSheetImageUpload
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  frontend/src/components/GameTurnSheetImageUpload.vue
Due: test-backend, test-frontend

Updated Manage Game routing to turn sheets page
  frontend/src/views/GameView.vue
Due: test-frontend

Wait for turn sheet background images to load
  backend/internal/generator/pdf_generator.go
Due: test-backend

Added agent retry logic, starting items feature, and frontend test improvements
  backend/db/20251204184105_main_add_is_starting_item_to_adventure_game_item.down.sql
  backend/db/20251204184105_main_add_is_starting_item_to_adventure_game_item.up.sql
  backend/internal/agent/agent.go
  backend/internal/agent/openai_vision_agent.go
  backend/internal/domain/adventure_game_character_instance.go
  backend/internal/generator/pdf_generator.go
  backend/internal/jobworker/adventure_game/create_turn_sheets.go
  backend/internal/jobworker/adventure_game/process_subscription.go
  backend/internal/mapper/adventure_game_item.go
  backend/internal/record/adventure_game_record/adventure_game_item.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  backend/schema/api/adventure_game_schema/adventure_game_item.go
  backend/schema/api/adventure_game_schema/adventure_game_item.request.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_item.schema.json
  frontend/src/test-utils/studio-resource-helpers.js
  frontend/src/views/studio/adventure/StudioCreaturesView.test.js
  frontend/src/views/studio/adventure/StudioItemPlacementsView.test.js
  frontend/src/views/studio/adventure/StudioItemsView.test.js
  frontend/src/views/studio/adventure/StudioItemsView.vue
  frontend/src/views/studio/adventure/StudioLocationLinksView.test.js
  frontend/src/views/studio/adventure/StudioLocationsView.test.js
  frontend/src/views/studio/adventure/StudioPlacementView.test.js
  frontend/src/views/studio/adventure/StudioTurnSheetBackgroundsView.test.js
Due: test-backend, test-frontend

Added redirect handling for studio and admin sign-in flows
  frontend/src/views/LoginView.test.js
  frontend/src/views/LoginView.vue
  frontend/src/views/ManagementEntryView.vue
  frontend/src/views/StudioEntryView.vue
  frontend/src/views/VerifyView.vue
Due: test-frontend

Removed turn sheet preview icon from studio game record view
  frontend/src/views/GameView.vue
Due: test-frontend

Added game description field and fixed turn sheet issues
  backend/db/20251205064443_main_add_description_to_game.down.sql
  backend/db/20251205064443_main_add_description_to_game.up.sql
  backend/internal/domain/game_validate.go
  backend/internal/harness/game.go
  backend/internal/mapper/game.go
  backend/internal/record/game_record/game.go
  backend/internal/runner/cli/seed_data/seed_data.go
  backend/internal/runner/server/game/game_handler_test.go
  backend/internal/runner/server/game/game_turn_sheet_handler.go
  backend/internal/turn_sheet/adventure_game_join_game.go
  backend/schema/api/game_schema/game.go
  backend/schema/api/game_schema/game.request.schema.json
  backend/schema/api/game_schema/game.schema.json
  backend/templates/turn_sheet/base.template
  frontend/src/api/games.js
  frontend/src/stores/games.js
  frontend/src/views/GameView.vue
  frontend/src/views/LoginView.vue
  frontend/src/views/ManagementEntryView.vue
  frontend/src/views/StudioEntryView.vue
  frontend/src/views/VerifyView.vue
Due: test-backend, test-frontend

Refactored GameView to use ResourceModalForm and added game description feature
  backend/db/20251205180753_main_change_game_description_to_varchar_512.down.sql
  backend/db/20251205180753_main_change_game_description_to_varchar_512.up.sql
  backend/internal/runner/cli/seed_data/seed_data.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  backend/schema/api/game_schema/game.request.schema.json
  backend/schema/api/game_schema/game.schema.json
  frontend/src/components/ResourceModalForm.vue
  frontend/src/components/TextareaWithCounter.test.js
  frontend/src/components/TextareaWithCounter.vue
  frontend/src/views/GameView.vue
Due: test-backend, test-frontend

Enhanced game instance management with delivery methods and improved error handling
  backend/db/20251205192845_main_add_game_instance_delivery_method_and_closed_testing.down.sql
  backend/db/20251205192845_main_add_game_instance_delivery_method_and_closed_testing.up.sql
  backend/internal/domain/game_instance.go
  backend/internal/domain/game_instance_validate.go
  backend/internal/harness/game_instance.go
  backend/internal/jobclient/jobclient.go
  backend/internal/jobworker/tester_invitation_emailing.go
  backend/internal/mapper/game_instance.go
  backend/internal/record/game_record/game_instance.go
  backend/internal/runner/server/game/game_instance_handler.go
  backend/internal/runner/server/game/game_instance_handler_test.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  backend/schema/api/game_schema/game_instance.go
  backend/schema/api/game_schema/game_instance.request.schema.json
  backend/schema/api/game_schema/game_instance.schema.json
  backend/templates/email/tester_invitation.email.html
  frontend/src/api/account.js
  frontend/src/api/auth.js
  frontend/src/api/baseUrl.js
  frontend/src/api/creaturePlacements.js
  frontend/src/api/creatures.js
  frontend/src/api/gameImages.js
  frontend/src/api/gameInstanceParameters.js
  frontend/src/api/gameInstances.js
  frontend/src/api/gameParameters.js
  frontend/src/api/games.js
  frontend/src/api/itemPlacements.js
  frontend/src/api/items.js
  frontend/src/api/locationImages.js
  frontend/src/api/locationLinks.js
  frontend/src/api/locations.js
  frontend/src/components/ResourceModalForm.vue
  frontend/src/views/management/ManagementGameInstancesView.vue
  frontend/src/views/management/ManagementInstanceDetailView.vue
Due: test-backend, test-frontend

Fixed frontend test warnings and backend game instance validation
  backend/internal/domain/game_instance.go
  backend/internal/harness/game_turn_sheet.go
  backend/internal/jobclient/jobclient.go
  backend/internal/jobworker/adventure_game/process_subscription.go
  backend/internal/jobworker/game_subscription_processing.go
  backend/internal/jobworker/send_account_verification_email.go
  backend/internal/jobworker/send_game_subscription_approval_email.go
  backend/internal/jobworker/send_tester_invitation_email.go
  backend/internal/runner/server/game/game_subscription_handler.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  frontend/src/api/gameInstances.js
  frontend/src/views/management/ManagementInstanceDetailView.vue
  frontend/src/views/studio/adventure/StudioTurnSheetBackgroundsView.test.js
  frontend/src/views/studio/adventure/StudioTurnSheetBackgroundsView.vue
Due: test-backend, test-frontend

Updated game instance features and test utilities
  backend/db/20251206005301_main_add_turn_sheet_key_to_game_subscription.down.sql
  backend/db/20251206005301_main_add_turn_sheet_key_to_game_subscription.up.sql
  backend/db/20251206042814_main_rename_join_game_key_to_closed_testing_prefix.down.sql
  backend/db/20251206042814_main_rename_join_game_key_to_closed_testing_prefix.up.sql
  backend/internal/domain/game_instance.go
  backend/internal/jobworker/send_tester_invitation_email.go
  backend/internal/mapper/game_instance.go
  backend/internal/record/game_record/game_instance.go
  backend/internal/record/game_record/game_subscription.go
  backend/internal/runner/server/game/game_instance_handler.go
  backend/internal/runner/server/game/game_instance_handler_test.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  backend/internal/utils/testutil/testutil.go
  backend/schema/api/game_schema/game_instance.go
  backend/schema/api/game_schema/invite_tester.request.schema.json
  backend/schema/api/game_schema/invite_tester.response.schema.json
  backend/schema/api/game_schema/join_game_link.response.schema.json
Due: test-backend

Implemented Phase 2: Turn Sheet Key Management
  backend/internal/domain/game_subscription.go
  backend/internal/domain/game_subscription_test.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
Due: test-backend

Phase 3: Email notification system for turn sheets
  backend/internal/jobclient/jobclient.go
  backend/internal/jobworker/game_turn_processing.go
  backend/internal/jobworker/send_turn_sheet_notification_email.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  backend/schema/api/game_schema/game_instance.go
  backend/schema/api/game_schema/invite_tester.request.schema.json
  backend/schema/api/game_schema/invite_tester.response.schema.json
  backend/schema/api/game_schema/join_game_link.response.schema.json
  backend/templates/email/turn_sheet_notification.email.html
Due: test-backend

Removed unused response schema for request token endpoint
  backend/db/20251208031452_main_rename_closed_testing_join_game_token_to_key.down.sql
  backend/db/20251208031452_main_rename_closed_testing_join_game_token_to_key.up.sql
  backend/internal/mapper/player.go
  backend/internal/runner/server/player/player_turn_sheet_handler.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  backend/schema/api/player_schema/game_turn_sheet.schema.json
  backend/schema/api/player_schema/player.get-game-subscription-turn-sheet-list.response.schema.json
  backend/schema/api/player_schema/player.get-game-subscription-turn-sheet.response.schema.json
  backend/schema/api/player_schema/player.go
  backend/schema/api/player_schema/player.request-game-subscription-token.request.schema.json
  backend/schema/api/player_schema/player.request-game-subscription-token.response.schema.json
  backend/schema/api/player_schema/player.submit-game-subscription-turn-sheets.response.schema.json
  backend/schema/api/player_schema/player.update-game-subscription-turn-sheet.request.schema.json
  backend/schema/api/player_schema/player.update-game-subscription-turn-sheet.response.schema.json
  backend/schema/api/player_schema/player.verify-game-subscription-token.request.schema.json
  backend/schema/api/player_schema/player.verify-game-subscription-token.response.schema.json
  frontend/src/api/player.js
  frontend/src/views/PlayerTurnSheetLoginView.vue
Due: test-backend, test-frontend

Added game_instance_id to game_subscription and validation
  backend/db/20251209090357_main_add_game_instance_id_to_game_subscription.down.sql
  backend/db/20251209090357_main_add_game_instance_id_to_game_subscription.up.sql
  backend/internal/domain/game_instance_validate.go
  backend/internal/domain/game_subscription_test.go
  backend/internal/domain/game_subscription_validate.go
  backend/internal/harness/game_turn_sheet.go
  backend/internal/jobworker/adventure_game/process_subscription.go
  backend/internal/record/game_record/game_subscription.go
  backend/internal/turn_sheet/adventure_game_join_game_test.go
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_inventory_management_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  backend/internal/turn_sheet/turn_sheet.go
Due: test-backend

Fixed CI database connection issue
  tools/db-migrate-up
  tools/environment
Due: test-backend

Pinned river CLI to v0.23.1 to fix CI
  tools/db-install-river-migrate
Due: test-backend

Fixed CI pipeline and RLS constraint self-mapping bug
  .gitlab-ci.yml
  backend/core/domain/domain.go
  backend/core/type/repositor/repositor.go
  backend/internal/runner/server/handler_rls/rls.go
Due: test-backend

Remove account DELETE endpoint, fix RLS constraint bugs
  backend/core/repository/repository.go
  backend/core/repository/repository_test.go
  backend/internal/domain/account.go
  backend/internal/runner/server/account/account_handler.go
  backend/internal/runner/server/account/account_handler_test.go
  backend/internal/runner/server/handler_rls/rls.go
Due: test-backend

Re-enable account_user_id NULL-handling RLS constraint
  backend/internal/runner/server/handler_rls/rls.go
Due: test-backend

Update README to describe platform for all turn-based games via email and physical mail
  README.md
Due: none

Updated turnsheet testdata and removed db-connect-qa tool
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  tools/db-connect-qa
Due: test-backend
