Repository alienspaces/playbymail: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend

Path conditions:
  test-backend: any of: backend/**/*, tools/**/*
  test-frontend: any of: frontend/**/*

Add Go module cache to GitHub CI
  .github/workflows/ci.yml
Due: none

Reorganise API handler code for growth
  backend/internal/runner/server/account/account.go
  backend/internal/runner/server/account/account_handler.go
  backend/internal/runner/server/account/account_handler_test.go
  backend/internal/runner/server/adventure_game/adventure_game.go
  backend/internal/runner/server/daemon.go
  backend/internal/runner/server/game/game.go
  backend/internal/runner/server/game/game_administration_handler.go
  backend/internal/runner/server/game/game_administration_handler_test.go
  backend/internal/runner/server/game/game_handler.go
  backend/internal/runner/server/game/game_handler_test.go
  backend/internal/runner/server/game/game_subscription_handler.go
  backend/internal/runner/server/game/game_subscription_handler_test.go
  backend/internal/runner/server/handler.go
  backend/internal/runner/server/runner.go
Due: test-backend

Final attempt at github CI cache
  .github/workflows/ci.yml
  backend/internal/utils/testutil/testutil.go
Due: test-backend

Add my account API
  backend/internal/mapper/account.go
  backend/internal/runner/server/account/account_handler.go
  backend/internal/runner/server/account/account_handler_test.go
  backend/schema/account.go
  backend/schema/account.request.schema.json
Due: test-backend

Add my account section and improve overall site verbiage and presentation
  .github/workflows/ci.yml
  backend/db/20250702072616_main_create_account_objects.up.sql
  backend/db/20250713093114_main_add-auth-tokens-to-account.down.sql
  backend/db/20250713093114_main_add-auth-tokens-to-account.up.sql
  backend/internal/runner/server/account/account_handler.go
  backend/internal/runner/server/runner.go
  frontend/src/App.vue
  frontend/src/api/account.js
  frontend/src/api/baseUrl.js
  frontend/src/components/StudioLayout.test.js
  frontend/src/components/StudioLayout.vue
  frontend/src/router/index.js
  frontend/src/views/AccountView.vue
  frontend/src/views/AdminEntryView.vue
  frontend/src/views/FaqView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/ManagementEntryView.test.js
  frontend/src/views/ManagementEntryView.vue
  frontend/src/views/ManagementView.vue
  frontend/src/views/StudioEntryView.vue
Due: test-backend, test-frontend

Add my account section and improve overall site verbiage and presentation
  frontend/src/views/HomeView.vue
Due: test-frontend

Add missing frontend component and view tests
  frontend/src/assets/base.css
  frontend/src/assets/main.css
  frontend/src/components/ResourceModalForm.test.js
  frontend/src/components/ResourceModalForm.vue
  frontend/src/components/ResourceTable.test.js
  frontend/src/components/ResourceTable.vue
  frontend/src/main.js
  frontend/src/views/GameView.vue
  frontend/src/views/HomeView.test.js
  frontend/src/views/HomeView.vue
  frontend/src/views/LoginView.test.js
  frontend/src/views/LoginView.vue
  frontend/src/views/studio/adventure/StudioCreaturePlacementsView.test.js
  frontend/src/views/studio/adventure/StudioCreaturePlacementsView.vue
  frontend/src/views/studio/adventure/StudioCreaturesView.vue
  frontend/src/views/studio/adventure/StudioItemPlacementsView.vue
  frontend/src/views/studio/adventure/StudioItemsView.vue
  frontend/src/views/studio/adventure/StudioLocationLinksView.vue
  frontend/src/views/studio/adventure/StudioLocationsView.vue
Due: test-frontend

Add Vue testing rule with actual patterns and no-bullshit rule
  .cursor/rules/no-bullshit.mdc
  .cursor/rules/vue-testing.mdc
Due: none

Update layout
  frontend/index.html
  frontend/public/favicon.svg
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/components/ConfirmationModal.test.js
  frontend/src/components/ConfirmationModal.vue
  frontend/src/components/GameContext.test.js
  frontend/src/components/GameContext.vue
  frontend/src/components/PageHeader.test.js
  frontend/src/components/PageHeader.vue
  frontend/src/components/SectionHeader.test.js
  frontend/src/components/SectionHeader.vue
  frontend/src/components/StudioLayout.vue
  frontend/src/views/AccountView.vue
  frontend/src/views/FaqView.vue
  frontend/src/views/GameView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/studio/adventure/StudioLocationsView.vue
Due: test-frontend

Added game runtime functionality with job workers and API endpoints
  backend/db/20250727040808_main_add-game-instance-runtime-parameters.down.sql
  backend/db/20250727040808_main_add-game-instance-runtime-parameters.up.sql
  backend/internal/domain/adventure_game_instance.go
  backend/internal/harness/game_instance.go
  backend/internal/jobclient/jobclient.go
  backend/internal/jobqueue/jobqueue.go
  backend/internal/jobworker/check_game_deadlines.go
  backend/internal/jobworker/process_game_turn.go
  backend/internal/mapper/adventure_game_instance.go
  backend/internal/record/adventure_game_instance.go
  backend/internal/repository/adventure_game_instance/repository_test.go
  backend/internal/runner/server/adventure_game/adventure_game_instance_handler.go
  backend/internal/utils/deps/deps.go
  backend/schema/adventure_game_instance.go
  frontend/src/components/ConfirmationModal.vue
  frontend/src/views/studio/adventure/StudioLocationsView.vue
Due: test-backend, test-frontend

Add initial game management screens; conceptual
  frontend/src/api/gameInstances.js
  frontend/src/components/ManagementLayout.vue
  frontend/src/components/StudioLayout.vue
  frontend/src/router/index.js
  frontend/src/stores/gameInstances.js
  frontend/src/views/management/ManagementCreateInstanceView.vue
  frontend/src/views/management/ManagementGameInstancesView.vue
  frontend/src/views/management/ManagementGamesDashboardView.vue
  frontend/src/views/management/ManagementInstanceDetailView.vue
  frontend/src/views/studio/adventure/StudioGameInstanceDetailView.vue
  frontend/src/views/studio/adventure/StudioGameInstancesView.vue
Due: test-frontend

Fix a few mobile layout and navigation issues
  frontend/src/App.vue
  frontend/src/components/ManagementLayout.vue
  frontend/src/views/HomeView.vue
Due: test-frontend

Move game record definitions
  backend/internal/domain/domain.go
  backend/internal/domain/game.go
  backend/internal/domain/game_administration.go
  backend/internal/domain/game_subscription.go
  backend/internal/domain/game_validate.go
  backend/internal/harness/config.go
  backend/internal/harness/data.go
  backend/internal/harness/game.go
  backend/internal/harness/game_administration.go
  backend/internal/harness/game_character.go
  backend/internal/harness/game_creature.go
  backend/internal/harness/game_instance.go
  backend/internal/harness/game_item.go
  backend/internal/harness/game_location.go
  backend/internal/harness/game_location_link.go
  backend/internal/harness/game_subscription.go
  backend/internal/mapper/game.go
  backend/internal/mapper/game_administration.go
  backend/internal/mapper/game_subscription.go
  backend/internal/record/game/game.go
  backend/internal/record/game/game_administration.go
  backend/internal/record/game/game_subscription.go
  backend/internal/repository/game/repository.go
  backend/internal/repository/game/repository_test.go
  backend/internal/repository/game_administration/repository.go
  backend/internal/repository/game_subscription/repository.go
  backend/internal/runner/cli/maintestdata/maintestdata.go
  backend/internal/runner/server/game/game_administration_handler.go
  backend/internal/runner/server/game/game_handler.go
  backend/internal/runner/server/game/game_handler_test.go
  backend/internal/runner/server/game/game_subscription_handler.go
Due: test-backend

Remove unintended rule addition
  .cursor/rules/no-bullshit.mdc
  .cursor/rules/vue-testing.mdc
Due: none

Additional schema cleanup
  backend/core/server/http.go
  backend/core/server/middleware.go
  backend/internal/domain/game_instance.go
  backend/internal/harness/game_instance.go
  backend/internal/mapper/adventure_game_item.go
  backend/internal/runner/server/account/account_handler.go
  backend/internal/runner/server/game/game_administration_handler.go
  backend/internal/runner/server/game/game_configuration_handler.go
  backend/internal/runner/server/game/game_handler.go
  backend/internal/runner/server/game/game_instance_handler.go
  backend/internal/runner/server/game/game_subscription_handler.go
  backend/schema/api/adventure_game_item.go
  backend/schema/api/adventure_game_item.request.schema.json
  frontend/src/api/account.js
  frontend/src/api/auth.js
  frontend/src/api/gameInstances.js
  frontend/src/api/games.js
  frontend/src/views/GameView.test.js
  frontend/src/views/HomeView.test.js
  frontend/src/views/management/ManagementCreateInstanceView.vue
  frontend/src/views/management/ManagementInstanceDetailView.vue
Due: test-backend, test-frontend

Add build info
  .github/workflows/ci.yml
  .gitlab-ci.yml
  frontend/package.json
  frontend/scripts/build-info.js
  frontend/src/App.vue
  frontend/src/components/BuildInfo.test.js
  frontend/src/components/BuildInfo.vue
  frontend/vite.config.js
  tools/build-frontend
Due: test-backend, test-frontend

Fix build info environment variables in CI
  .github/workflows/ci.yml
  .gitlab-ci.yml
  frontend/package.json
  frontend/scripts/build-info.js
Due: test-frontend

Fix frontend test failures - add ESLint config and update BuildInfo test
  frontend/package.json
  frontend/scripts/build-info.js
  frontend/src/components/BuildInfo.test.js
Due: test-frontend

Fix ESLint configuration for Node.js scripts - add Node.js globals for scripts directory
  frontend/eslint.config.js
  frontend/scripts/build-info.js
Due: test-frontend

Working throough design process of player turn sheets
  backend/db/20250728091542_main_turn_sheet_tables.down.sql
  backend/db/20250728091542_main_turn_sheet_tables.up.sql
  backend/internal/record/turn_sheet_record/player_turn_sheet_response.go
  backend/internal/record/turn_sheet_record/turn_sheet_generation_rule.go
  backend/schema/database/turn_sheet/response_data.schema.json
  backend/schema/database/turn_sheet/result_data.schema.json
  backend/schema/database/turn_sheet/trigger_condition.schema.json
  backend/schema/turn_sheets/print_layouts/adventure_location_choice.schema.json
  backend/schema/turn_sheets/response_formats/multiple_choice_response.schema.json
  backend/schema/turn_sheets/scanning/ocr_result.schema.json
  backend/schema/turn_sheets/template_formats/multiple_choice.schema.json
Due: test-backend

Refactor game turn sheet storage
  backend/db/20250728091542_main_turn_sheet_tables.down.sql
  backend/db/20250728091542_main_turn_sheet_tables.up.sql
  backend/db/20250730200705_main_create_simplified_turn_sheet_schema.down.sql
  backend/db/20250730200705_main_create_simplified_turn_sheet_schema.up.sql
  backend/internal/record/adventure_game_record/adventure_game_character_instance_turn_sheet.go
  backend/internal/record/game_record/game_turn_sheet.go
  backend/internal/record/turn_sheet_record/player_turn_sheet.go
  backend/internal/record/turn_sheet_record/player_turn_sheet_response.go
  backend/internal/record/turn_sheet_record/turn_sheet_template.go
Due: test-backend

Additional redesign for turn sheets
  backend/core/tag/tag.go
  backend/db/20250730200705_main_create_simplified_turn_sheet_schema.down.sql
  backend/db/20250730200705_main_create_simplified_turn_sheet_schema.up.sql
  backend/internal/domain/domain.go
  backend/internal/record/adventure_game_record/adventure_game_character_instance_turn_sheet.go
  backend/internal/record/adventure_game_record/adventure_game_turn_sheet.go
  backend/internal/record/game_record/game_turn_sheet.go
  backend/internal/repository/adventure_game_turn_sheet/repository.go
  backend/internal/repository/adventure_game_turn_sheet/repository_test.go
  backend/internal/repository/game_turn_sheet/repository.go
  backend/internal/repository/game_turn_sheet/repository_test.go
Due: test-backend

Update CI Go version to 1.24.5 to match go.mod requirement
  .gitlab-ci.yml
Due: none

Update GitHub Actions Go version to 1.24.5 to match go.mod requirement
  .github/workflows/ci.yml
Due: none

Add initial low level printing and scanning capabilities
  backend/go.mod
  backend/go.sum
  backend/internal/printing/cups.go
  backend/internal/printing/device.go
  backend/internal/printing/example.go
  backend/internal/printing/http.go
  backend/internal/printing/ipp_test.go
  backend/internal/printing/printing_test.go
  backend/internal/printing/raw.go
Due: test-backend

Can one again create items and creatures and place them
  frontend/src/types.js
  frontend/src/views/studio/adventure/StudioCreaturePlacementsView.test.js
  frontend/src/views/studio/adventure/StudioCreaturePlacementsView.vue
  frontend/src/views/studio/adventure/StudioItemPlacementsView.vue
  frontend/src/views/studio/adventure/StudioLocationLinksView.vue
Due: test-frontend

Make adventure game item and creature description required
  backend/internal/runner/server/adventure_game/adventure_game_creature_handler_test.go
  backend/schema/api/adventure_game_schema/adventure_game_creature.request.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_creature.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_item.request.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_item.schema.json
  frontend/src/views/studio/adventure/StudioCreaturesView.vue
  frontend/src/views/studio/adventure/StudioItemsView.vue
Due: test-backend, test-frontend

Make location and location link descriptions required
  backend/db/20250804083515_main_make-location-descriptions-required.down.sql
  backend/db/20250804083515_main_make-location-descriptions-required.up.sql
  backend/schema/api/adventure_game_schema/adventure_game_location.request.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_location.schema.json
  frontend/src/views/studio/adventure/StudioLocationsView.vue
Due: test-backend, test-frontend

Refactor for more component re-use in the frontend
  frontend/src/components/ResourceModalForm.test.js
  frontend/src/components/ResourceModalForm.vue
  frontend/src/components/ResourceTable.vue
  frontend/src/views/studio/adventure/StudioCreaturesView.vue
  frontend/src/views/studio/adventure/StudioGameInstancesView.vue
  frontend/src/views/studio/adventure/StudioItemsView.test.js
  frontend/src/views/studio/adventure/StudioItemsView.vue
  frontend/src/views/studio/adventure/StudioLocationsView.test.js
  frontend/src/views/studio/adventure/StudioLocationsView.vue
Due: test-frontend

Additional use of shared components in the frontend adventure game studio
  frontend/src/components/ResourceModalForm.test.js
  frontend/src/components/ResourceModalForm.vue
  frontend/src/views/studio/adventure/StudioCreaturesView.vue
  frontend/src/views/studio/adventure/StudioPlacementView.vue
Due: test-frontend

Enhanced ResourceModalForm and refactored complex views to use shared components
  frontend/src/components/ResourceModalForm.test.js
  frontend/src/components/ResourceModalForm.vue
  frontend/src/views/studio/adventure/StudioCreaturePlacementsView.test.js
  frontend/src/views/studio/adventure/StudioCreaturePlacementsView.vue
  frontend/src/views/studio/adventure/StudioItemPlacementsView.vue
  frontend/src/views/studio/adventure/StudioLocationLinksView.vue
Due: test-frontend

Disable browser autocomplete on ResourceModalForm fields
  frontend/src/components/ResourceModalForm.vue
Due: test-frontend

Update documentation
  CONTRIBUTING.md
  DEPLOYMENT.md
  README.md
  backend/internal/jobclient/jobclient.go
Due: test-backend

Refactoring game configuration and game instance runtime configuration management
  backend/db/20250728000000_main_game-instance-tables.up.sql
  backend/internal/domain/game_instance.go
  backend/internal/harness/game_instance.go
  backend/internal/jobworker/check_game_deadlines.go
  backend/internal/mapper/game_instance.go
  backend/internal/record/adventure_game_record/adventure_game_instance.go
  backend/internal/record/game_record/game_instance.go
  backend/internal/record/game_record/game_instance_configuration_schema.go
  backend/schema/api/game_schema/game_instance.go
  backend/schema/api/game_schema/game_instance.request.schema.json
  backend/schema/api/game_schema/game_instance.schema.json
  frontend/src/api/gameConfigurations.js
  frontend/src/api/gameInstanceConfigurations.js
  frontend/src/components/ConfigurationField.vue
  frontend/src/stores/gameConfigurations.js
  frontend/src/views/management/ManagementCreateInstanceView.vue
  frontend/src/views/management/ManagementGameInstancesView.vue
  frontend/src/views/management/ManagementInstanceDetailView.vue
  frontend/src/views/studio/adventure/StudioGameInstanceDetailView.vue
  frontend/src/views/studio/adventure/StudioGameInstancesView.vue
Due: test-backend, test-frontend

Backend API handler and mapper cleanup
  backend/internal/domain/game_configuration.go
  backend/internal/domain/game_configuration_options.go
  backend/internal/mapper/account.go
  backend/internal/mapper/adventure_game_character.go
  backend/internal/mapper/adventure_game_creature.go
  backend/internal/mapper/adventure_game_creature_instance.go
  backend/internal/mapper/adventure_game_creature_placement.go
  backend/internal/mapper/adventure_game_instance.go
  backend/internal/mapper/adventure_game_item.go
  backend/internal/mapper/adventure_game_item_instance.go
  backend/internal/mapper/adventure_game_item_placement.go
  backend/internal/mapper/adventure_game_location.go
  backend/internal/mapper/adventure_game_location_instance.go
  backend/internal/mapper/adventure_game_location_link.go
  backend/internal/mapper/adventure_game_location_link_requirement.go
  backend/internal/mapper/game.go
  backend/internal/mapper/game_administration.go
  backend/internal/mapper/game_configuration.go
  backend/internal/mapper/game_instance.go
  backend/internal/mapper/game_instance_configuration.go
  backend/internal/mapper/game_subscription.go
  backend/internal/record/game_record/game.go
  backend/internal/record/game_record/game_configuration.go
  backend/internal/runner/server/adventure_game/adventure_game_character_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_instance_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_placement_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_item_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_item_placement_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_link_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_link_requirement_handler.go
  backend/internal/runner/server/game/game_configuration_handler.go
  backend/schema/api/game_schema/game_configuration.go
  backend/schema/api/game_schema/game_configuration.request.schema.json
  backend/schema/api/game_schema/game_instance.go
  backend/schema/api/game_schema/game_instance_configuration.go
Due: test-backend
