Repository alienspaces/playbymail: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend

test-backend:
  variables:
    POSTGRES_DB: playbymail
    POSTGRES_USER: user
    POSTGRES_PASSWORD: pass
    DATABASE_URL: postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres:5432/$POSTGRES_DB?sslmode=disable
    DATABASE_VERSION: 17.5
    DATABASE_MAX_OPEN_CONNECTIONS: '180'
    DATABASE_MAX_IDLE_CONNECTIONS: '45'
  ...

test-frontend:
  image: node:18-alpine
  stage: test
  script:
  - ./tools/test-frontend

Continue with game parameter configuration management
  backend/db/20250809203643_main_rename_game_configuration_to_game_parameter.down.sql
  backend/db/20250809203643_main_rename_game_configuration_to_game_parameter.up.sql
  backend/internal/domain/game_configuration_options.go
  backend/internal/domain/game_parameter.go
  backend/internal/domain/game_parameter_configuration.go
  backend/internal/mapper/game_parameter.go
  backend/internal/mapper/game_parameter_configuration.go
  backend/internal/record/game_record/game_parameter.go
  backend/internal/runner/server/game/game.go
  backend/internal/runner/server/game/game_parameter_configuration_handler.go
  backend/internal/runner/server/game/game_parameter_configuration_handler_test.go
  backend/schema/api/game_schema/game_parameter.go
  backend/schema/api/game_schema/game_parameter_configuration.collection.response.schema.json
  backend/schema/api/game_schema/game_parameter_configuration.go
  backend/schema/api/game_schema/game_parameter_configuration.schema.json
Due: test-backend

Continue with game parameter management
  backend/internal/domain/game_parameter_configuration.go
  backend/internal/record/game_record/game_parameter.go
Due: test-backend

Continue game parameter management implementation
  backend/db/20250621212726_main_create-initial-schema.up.sql
  backend/db/20250707093547_main_add-game-type-and-game-location.down.sql
  backend/db/20250707093547_main_add-game-type-and-game-location.up.sql
  backend/db/20250814102214_main_add_turn_configuration_fields.down.sql
  backend/internal/domain/game_parameter_configuration.go
  backend/internal/domain/game_validate.go
  backend/internal/harness/config.go
  backend/internal/harness/game.go
  backend/internal/mapper/game.go
  backend/internal/record/game_record/game.go
  backend/internal/repository/game/repository_test.go
  backend/internal/runner/cli/maintestdata/maintestdata.go
  backend/internal/runner/server/game/game_handler_test.go
  backend/internal/runner/server/game/game_instance_handler.go
  backend/internal/runner/server/game/game_instance_parameter_handler.go
  backend/internal/runner/server/game/game_parameter_handler.go
  backend/schema/api/game_schema/game.go
  backend/schema/api/game_schema/game.request.schema.json
  backend/schema/api/game_schema/game.schema.json
  frontend/src/api/games.js
  frontend/src/components/StudioLayout.vue
  frontend/src/router/index.js
  frontend/src/stores/games.js
  frontend/src/views/GameView.vue
  frontend/src/views/LoginView.vue
  frontend/src/views/VerifyView.vue
  frontend/src/views/management/ManagementCreateInstanceView.vue
  frontend/src/views/studio/adventure/StudioGameParametersView.vue
Due: test-backend, test-frontend

Enhanced seed data and fixed frontend test issues
  backend/internal/harness/config.go
  backend/internal/runner/cli/maintestdata/maintestdata.go
  frontend/src/components/Button.vue
  frontend/src/views/management/ManagementGameInstancesView.vue
  frontend/src/views/management/ManagementInstanceDetailView.vue
  tools/test-playwright
Due: test-backend, test-frontend

Use constants for field names in sql options
  backend/internal/domain/game_instance.go
  backend/internal/domain/game_instance_parameter.go
Due: test-backend

Update Playwright tests
  README.md
  package.json
  playwright/README.md
  playwright/TEST_STRUCTURE.md
  playwright/core/authentication.spec.js
  playwright/core/navigation.spec.js
  playwright/global-setup.js
  playwright/global-teardown.js
  playwright/playwright.config.js
  playwright/ui/components.spec.js
  playwright/utils/test-helpers.js
  playwright/workflows/admin-workflows.spec.js
  playwright/workflows/game-creation.spec.js
Due: none

Better organisation of Paywright tests and fix README document..
  README.md
  package.json
  playwright/README.md
  playwright/TEST_STRUCTURE.md
  playwright/legacy/admin-loading-bug.spec.js
  playwright/legacy/admin-navigation.spec.js
  playwright/legacy/auth-flow.spec.js
  playwright/legacy/game-creation.spec.js
  playwright/legacy/home.spec.js
  playwright/legacy/log-monitoring.spec.js
  playwright/legacy/simple-auth.spec.js
  playwright/playwright.config.js
Due: none

Restore original README
  README.md
Due: none

Update README
  README.md
Due: none

Add coming soon banner
  frontend/src/App.vue
  frontend/src/components/ComingSoonBanner.test.js
  frontend/src/components/ComingSoonBanner.vue
Due: test-frontend

Add coming soon banner
  frontend/src/components/ComingSoonBanner.vue
Due: test-frontend

Update coming soon banner
  frontend/src/components/ComingSoonBanner.test.js
  frontend/src/components/ComingSoonBanner.vue
Due: test-frontend

Final adjustments to coming soon notification
  frontend/src/App.vue
  frontend/src/components/ComingSoonBanner.vue
Due: test-frontend

Fix game instance parameter management
  backend/db/20250822215937_main_fix_game_instance_parameter_unique_constraint.down.sql
  backend/db/20250822215937_main_fix_game_instance_parameter_unique_constraint.up.sql
  backend/internal/domain/game_instance_parameter.go
  backend/internal/domain/game_parameter.go
  backend/internal/harness/config.go
  backend/internal/harness/harness.go
  backend/internal/mapper/game_instance.go
  backend/internal/mapper/game_instance_parameter.go
  backend/internal/runner/cli/maintestdata/maintestdata.go
  backend/internal/runner/server/game/game_instance_parameter_handler.go
  backend/internal/runner/server/game/game_instance_parameter_handler_test.go
  backend/schema/api/game_schema/game_instance.go
  backend/schema/api/game_schema/game_instance.schema.json
  backend/schema/api/game_schema/game_instance_parameter.go
  backend/schema/api/game_schema/game_instance_parameter.request.schema.json
  backend/schema/api/game_schema/game_instance_parameter.schema.json
  frontend/src/views/management/ManagementInstanceDetailView.vue
Due: test-backend, test-frontend

Implement game instance status progressions
  backend/db/20250728000000_main_game-instance-tables.up.sql
  backend/db/20250824190216_main_update_game_instance_status_constraint.down.sql
  backend/db/20250824190216_main_update_game_instance_status_constraint.up.sql
  backend/internal/domain/game_instance.go
  backend/internal/jobclient/jobclient.go
  backend/internal/record/adventure_game_record/adventure_game_instance.go
  backend/internal/record/game_record/game_instance.go
  backend/internal/runner/server/game/game_instance_handler.go
  frontend/src/views/management/ManagementGameInstancesView.vue
  frontend/src/views/management/ManagementGamesDashboardView.vue
  frontend/src/views/management/ManagementInstanceDetailView.vue
  frontend/src/views/studio/adventure/StudioGameInstanceDetailView.vue
  frontend/src/views/studio/adventure/StudioGameInstancesView.vue
Due: test-backend, test-frontend

Add game instance API handler tests
  backend/internal/mapper/game_instance.go
  backend/internal/runner/server/game/game_instance_handler.go
  backend/internal/runner/server/game/game_instance_handler_test.go
  backend/schema/api/game_schema/game_instance.request.schema.json
  backend/schema/api/game_schema/game_instance.schema.json
Due: test-backend

Focus on game turn processing
  .gitignore
  backend/internal/domain/game_instance.go
  backend/internal/jobclient/jobclient.go
  backend/internal/jobworker/adventure/adventure_turn_processor.go
  backend/internal/jobworker/adventure/location_choice_processor.go
  backend/internal/jobworker/execute_game_turn_processing.go
  backend/internal/jobworker/queue_game_turn_processing.go
  backend/internal/record/game_record/game_turn_sheet.go
  backend/internal/runner/server/account/account_handler.go
  backend/internal/runner/server/account/account_handler_test.go
  backend/internal/runner/server/game/game_administration_handler.go
  backend/internal/runner/server/game/game_administration_handler_test.go
  backend/internal/runner/server/game/game_handler.go
  backend/internal/runner/server/game/game_handler_test.go
  backend/internal/runner/server/game/game_subscription_handler.go
  backend/internal/runner/server/game/game_subscription_handler_test.go
Due: test-backend

Further work on generators and scanners
  backend/go.mod
  backend/go.sum
  backend/internal/domain/domain.go
  backend/internal/domain/game_turn_sheet.go
  backend/internal/generator/.keep
  backend/internal/generator/README.md
  backend/internal/generator/adventure_game_generator/adventure_game_generator_test.go
  backend/internal/generator/adventure_game_generator/adventure_game_location_generator.go
  backend/internal/generator/adventure_game_generator/templates/base.css
  backend/internal/generator/adventure_game_generator/templates/base.template
  backend/internal/generator/adventure_game_generator/templates/location_choice.template
  backend/internal/generator/generator.go
  backend/internal/harness/harness.go
  backend/internal/jobworker/adventure/adventure_game_location_choice_processor.go
  backend/internal/jobworker/adventure/adventure_game_turn_processor.go
  backend/internal/jobworker/adventure/location_choice_processor.go
  backend/internal/jobworker/execute_game_turn_processing.go
  backend/internal/jobworker/turn_sheet_id.go
  backend/internal/record/adventure_game_record/adventure_game_turn_sheet.go
  backend/internal/record/game_record/game_turn_sheet.go
  backend/internal/scanner/adventure_game_scanner/adventure_game_location_scanner.go
  backend/internal/scanner/adventure_game_scanner/adventure_game_location_scanner_test.go
  backend/internal/scanner/adventure_game_scanner/location_choice_scan_data.go
  backend/internal/scanner/scanner.go
  backend/internal/scanner/scanner_test.go
Due: test-backend

Pin npm packages
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: test-frontend

Added cursor ignore file and updated development environment
  .cursorignore
  .env.develop
Due: none

Added Node.js version management with .nvmrc file
  .nvmrc
Due: none

Update CONTRIBUTING
  CONTRIBUTING.md
Due: none

Refactored turn processing to character-centric approach with game instance record passing
  backend/db/20250730200705_main_create_simplified_turn_sheet_schema.up.sql
  backend/internal/domain/adventure_game_turn_sheet.go
  backend/internal/domain/game_turn_sheet.go
  backend/internal/generator/adventure_game_generator/adventure_game_generator_test.go
  backend/internal/generator/generator.go
  backend/internal/jobclient/jobclient.go
  backend/internal/jobworker/account_verification_emailing.go
  backend/internal/jobworker/adventure/adventure_game_turn_processor.go
  backend/internal/jobworker/adventure_game/adventure_game.go
  backend/internal/jobworker/adventure_game/adventure_game_location_choice_processor.go
  backend/internal/jobworker/adventure_game/adventure_game_turn_generator.go
  backend/internal/jobworker/adventure_game/adventure_game_turn_processor.go
  backend/internal/jobworker/execute_game_turn_processing.go
  backend/internal/jobworker/game_turn_processing.go
  backend/internal/jobworker/game_turn_queueing.go
  backend/internal/record/game_record/game_turn_sheet.go
  backend/internal/scanner/adventure_game_scanner/adventure_game_location_scanner.go
  backend/internal/scanner/adventure_game_scanner/adventure_game_location_scanner_test.go
  backend/schema/database/turn_sheet/response_data.schema.json
  backend/schema/database/turn_sheet/result_data.schema.json
  playwright/core/authentication.spec.js
  playwright/core/navigation.spec.js
  playwright/ui/components.spec.js
  playwright/utils/test-helpers.js
  playwright/workflows/admin-workflows.spec.js
  playwright/workflows/game-creation.spec.js
  tools/test-backend-internal
Due: test-backend

Updated README documentation and cleaned up generator documentation
  README.md
  backend/internal/generator/README.md
Due: test-backend

Refactored turn processing to use interface-based architecture
  backend/internal/domain/game_instance.go
  backend/internal/jobworker/game_turn_processing.go
  backend/internal/jobworker/game_turn_queueing.go
Due: test-backend

Simplified turn sheet processor architecture with embedded map
  backend/cmd/server/main.go
  backend/internal/jobworker/adventure_game/adventure_game.go
  backend/internal/jobworker/adventure_game/adventure_game_location_choice_processor.go
  backend/internal/jobworker/adventure_game/adventure_game_turn_generator.go
  backend/internal/jobworker/adventure_game/adventure_game_turn_processor.go
Due: test-backend

Added domain access to turn sheet processors and updated constructors to return errors
  backend/internal/jobworker/adventure_game/adventure_game.go
  backend/internal/jobworker/adventure_game/adventure_game_location_choice_processor.go
  backend/internal/jobworker/game_turn_processing.go
Due: test-backend

Updated generator and location choice processor
  backend/internal/generator/generator.go
  backend/internal/jobworker/adventure_game/adventure_game_location_choice_processor.go
Due: test-backend

Refactored adventure game generator and scanner structure
  backend/internal/generator/adventure_game/adventure_game_generator_test.go
  backend/internal/generator/adventure_game/adventure_game_location_generator.go
  backend/internal/generator/generator.go
  backend/internal/jobworker/account_verification_emailing.go
  backend/internal/scanner/adventure_game/adventure_game_location_scanner.go
  backend/internal/scanner/adventure_game/adventure_game_location_scanner_test.go
  backend/internal/scanner/adventure_game/location_choice_scan_data.go
  backend/templates/email/account_verification.email.html
  backend/templates/turn_sheet/adventure_game/base.css
  backend/templates/turn_sheet/adventure_game/base.template
  backend/templates/turn_sheet/adventure_game/location_choice.template
  tools/environment
  tools/test-backend
  tools/test-backend-ci
  tools/test-backend-core
Due: test-backend

Moved turn sheet ID functionality to utils package
  backend/internal/utils/turnsheet/turnsheet.go
Due: test-backend

Improved jobworker documentation and reorganized turn sheet processors
  .gitlab-ci.yml
  backend/internal/domain/adventure_game_character_instance.go
  backend/internal/jobworker/adventure_game/adventure_game.go
  backend/internal/jobworker/adventure_game/adventure_game_turn_processor.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_location_choice_processor.go
  backend/internal/jobworker/game_turn_processing.go
  backend/internal/jobworker/job_worker.go
Due: test-backend

Implemented turn sheet data structures and cleaned up old generator
  backend/internal/generator/adventure_game/adventure_game_generator_test.go
  backend/internal/generator/adventure_game/adventure_game_location_generator.go
  backend/internal/turn_sheet/adventure_game/join_game/join_game.go
  backend/internal/turn_sheet/adventure_game/join_game/template/content.template
  backend/internal/turn_sheet/adventure_game/location_choice/location_choice.go
  backend/internal/turn_sheet/adventure_game/location_choice/template/content.template
  backend/internal/turn_sheet/template/base.template
  backend/internal/turn_sheet/turn_sheet.go
Due: test-backend

Implemented join game turn sheet structure and template
  backend/internal/jobworker/adventure_game/adventure_game_turn_generator.go
  backend/internal/jobworker/adventure_game/adventure_game_turn_processor.go
  backend/internal/record/adventure_game_record/adventure_game_turn_sheet.go
  backend/internal/turn_sheet/adventure_game/join_game/join_game.go
  backend/internal/turn_sheet/adventure_game/join_game/template/content.template
  backend/internal/turn_sheet/adventure_game/location_choice/location_choice.go
  backend/internal/turn_sheet/template/base.template
  backend/internal/turn_sheet/turn_sheet.go
Due: test-backend

Removed unused turn sheet templates
  backend/templates/turn_sheet/adventure_game/base.css
  backend/templates/turn_sheet/adventure_game/base.template
Due: test-backend

Separated turn sheet template CSS concerns
  backend/internal/turn_sheet/adventure_game/location_choice/template/content.template
  backend/internal/turn_sheet/template/base.template
Due: test-backend

Updated PDF generator to load base and specific templates
  backend/internal/generator/generator.go
Due: test-backend

Moved scan data definitions to turn sheet package
  backend/internal/scanner/adventure_game/adventure_game_location_scanner.go
  backend/internal/scanner/adventure_game/adventure_game_location_scanner_test.go
  backend/internal/scanner/adventure_game/location_choice_scan_data.go
  backend/internal/turn_sheet/adventure_game/location_choice/location_choice_scan.go
Due: test-backend

Path conditions:
  test-backend: any of: backend/**/*, tools/**/*
  test-frontend: any of: frontend/**/*
