Repository alienspaces/playbymail: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-backend, test-backend, test-frontend

Path conditions:
  lint-backend: any of: backend/**/*, tools/golang-lint
  test-backend: any of: backend/**/*, tools/**/*
  test-frontend: any of: frontend/**/*

Refactor demo game CLI to load by game type
  backend/internal/runner/cli/demo_scenarios.go
  backend/internal/runner/cli/load_game_data.go
  backend/internal/runner/cli/load_game_data_test.go
  backend/internal/runner/cli/runner.go
  tools/db-load-demo-game
  tools/db-load-demo-game-heroku
Due: lint-backend, test-backend

Add db-list-users CLI tool
  backend/internal/runner/cli/list_users.go
  backend/internal/runner/cli/runner.go
  tools/db-list-users
  tools/db-list-users-heroku
Due: lint-backend, test-backend

Adventure readiness validation and account verification fixes
  backend/internal/domain/account_user.go
  backend/internal/domain/account_user_verify_test.go
  backend/internal/domain/game_validate.go
  backend/internal/domain/game_validate_test.go
  backend/internal/harness/account.go
  backend/internal/harness/harness_test.go
Due: lint-backend, test-backend

Update release notes for 23 March 2026
  RELEASE_NOTES.md
Due: none

Fix lance management tab label, background, and weapon configs
  backend/internal/runner/cli/demo_scenarios/mecha_game.go
  backend/internal/runner/cli/test_data/test_data.go
  frontend/src/views/PlayerTurnSheetView.vue
Due: lint-backend, test-backend, test-frontend

Prevent duplicate pipelines on branch + MR pushes
  .gitlab-ci.yml
Due: none

Fix turn sheet auth: resilient 401 handling, longer token expiry, admin CLI
  backend/internal/domain/game_subscription_instance.go
  backend/internal/jobworker/send_turn_sheet_notification_email.go
  backend/internal/runner/cli/list_game_instances.go
  backend/internal/runner/cli/resend_turn_sheet_email.go
  backend/internal/runner/cli/runner.go
  backend/internal/runner/server/player/player_turn_sheet_handler.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.pdf
  frontend/src/api/baseUrl.js
  frontend/src/api/player.js
  frontend/src/views/PlayerTurnSheetView.vue
  tools/list-game-instances
  tools/list-game-instances-heroku
  tools/resend-turn-sheet-email
  tools/resend-turn-sheet-email-heroku
Due: lint-backend, test-backend, test-frontend

Fix test mock missing UnauthenticatedError export
  frontend/src/views/PlayerTurnSheetView.test.js
Due: test-frontend

Fix all golangci-lint failures
  backend/internal/jobworker/mecha/combat_resolution.go
  backend/internal/jobworker/mecha/computer_opponent_decision.go
  backend/internal/jobworker/mecha/turn_sheet_processor/mecha_lance_management_processor.go
  backend/internal/runner/server/mecha/mecha_chassis_handler.go
  backend/internal/runner/server/mecha/mecha_lance_handler.go
  backend/internal/runner/server/mecha/mecha_lance_mech_handler.go
  backend/internal/runner/server/mecha/mecha_sector_handler.go
  backend/internal/runner/server/mecha/mecha_sector_link_handler.go
  backend/internal/runner/server/mecha/mecha_weapon_handler.go
  backend/internal/turnsheet/mecha_lance_management.go
Due: lint-backend, test-backend

Additional mecha code cleanup and logging
  backend/internal/jobworker/mecha/combat_resolution.go
Due: lint-backend, test-backend

Set HideNarrative in join game ForPrinting test fixtures
  backend/internal/turnsheet/adventure_game_join_game_test.go
  backend/internal/turnsheet/mecha_join_game_test.go
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-inventory-management-desktop-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-inventory-management-mobile-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-inventory-management-print-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-join-game-desktop-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-join-game-mobile-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-join-game-print-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-location-choice-desktop-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-location-choice-mobile-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-location-choice-print-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-monster-encounter-desktop-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-monster-encounter-mobile-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/adventure-game-monster-encounter-print-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/mecha-join-game-desktop-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/mecha-join-game-mobile-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/mecha-join-game-print-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/mecha-lance-management-desktop-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/mecha-lance-management-mobile-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/mecha-lance-management-print-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/mecha-orders-desktop-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/mecha-orders-mobile-visual-linux.png
  playwright/ui/turnsheet-visual.spec.js-snapshots/mecha-orders-print-visual-linux.png
Due: lint-backend, test-backend

Rename ForPrinting turnsheet tests to Rendering
  backend/internal/turnsheet/adventure_game_creature_encounter_test.go
  backend/internal/turnsheet/adventure_game_inventory_management_test.go
  backend/internal/turnsheet/adventure_game_join_game_test.go
  backend/internal/turnsheet/adventure_game_location_choice_test.go
  backend/internal/turnsheet/mecha_join_game_test.go
  backend/internal/turnsheet/mecha_lance_management_test.go
  backend/internal/turnsheet/mecha_orders_test.go
  tools/render-turnsheets
Due: lint-backend, test-backend

Fix game catalog test to accept any valid game type badge
  playwright/workflows/game-catalog.spec.js
Due: none

Hide What Happened panel on join game turn sheets
  backend/internal/runner/server/game/game_subscription_join_handler.go
  backend/internal/turnsheet/mecha_join_game.go
Due: lint-backend, test-backend

Remove unused auto-play harness code
  backend/internal/harness/automated_play.go
Due: lint-backend, test-backend

Remove dead adventure game instance handlers and mappers
  backend/internal/domain/game.go
  backend/internal/domain/game_instance.go
  backend/internal/domain/game_instance_start_test.go
  backend/internal/harness/adventure_game.go
  backend/internal/mapper/adventure_game_creature_instance.go
  backend/internal/mapper/adventure_game_instance.go
  backend/internal/mapper/adventure_game_item_instance.go
  backend/internal/mapper/adventure_game_location_instance.go
  backend/internal/runner/server/adventure_game/adventure_game.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_instance_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_item_instance_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_instance_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_instance_handler_test.go
Due: lint-backend, test-backend

Rename runner/server/mecha package to mecha_game
  backend/internal/runner/server/mecha_game/mecha.go
  backend/internal/runner/server/mecha_game/mecha_authz.go
  backend/internal/runner/server/mecha_game/mecha_chassis_handler.go
  backend/internal/runner/server/mecha_game/mecha_lance_handler.go
  backend/internal/runner/server/mecha_game/mecha_lance_mech_handler.go
  backend/internal/runner/server/mecha_game/mecha_sector_handler.go
  backend/internal/runner/server/mecha_game/mecha_sector_link_handler.go
  backend/internal/runner/server/mecha_game/mecha_weapon_handler.go
  backend/internal/runner/server/runner.go
Due: lint-backend, test-backend

Rewrite game subscription domain tests
  backend/internal/domain/game_subscription_test.go
Due: lint-backend, test-backend

Wire mailpit into start-backend and stop-backend
  backend/internal/domain/error.go
  backend/internal/jobworker/game_turn_processing.go
  backend/internal/runner/cli/load_game_data.go
  backend/internal/turnsheet/adventure_game_creature_encounter_test.go
  backend/internal/turnsheet/adventure_game_inventory_management_test.go
  frontend/src/views/management/ManagementCreateInstanceView.vue
  tools/start-backend
Due: lint-backend, test-backend, test-frontend

Fix lint appendAssign in mecha computer opponent decision
  backend/internal/jobworker/mecha/computer_opponent_decision.go
Due: lint-backend, test-backend

Update release notes for 7 April 2026
  RELEASE_NOTES.md
Due: none

Fix mecha join game test assertion after rename
  backend/internal/turnsheet/mecha_game_join_game_test.go
Due: lint-backend, test-backend

Split mecha computer opponent decision into per-strategy files
  backend/internal/jobworker/mecha_game/computer_opponent_decision.go
  backend/internal/jobworker/mecha_game/computer_opponent_decision_llm.go
  backend/internal/jobworker/mecha_game/computer_opponent_decision_rules.go
Due: lint-backend, test-backend

Add chassis slot enforcement and mecha designer UX polish
  backend/db/20260418212903_mecha_game_chassis_slots.down.sql
  backend/db/20260418212903_mecha_game_chassis_slots.up.sql
  backend/internal/domain/mecha_game_chassis_validate.go
  backend/internal/domain/mecha_game_chassis_validate_test.go
  backend/internal/domain/mecha_game_loadout.go
  backend/internal/domain/mecha_game_loadout_test.go
  backend/internal/domain/mecha_game_sector_validate.go
  backend/internal/domain/mecha_game_squad_mech_validate.go
  backend/internal/domain/mecha_game_weapon_validate.go
  backend/internal/harness/mecha_game.go
  backend/internal/jobworker/mecha_game/turn_sheet_processor/mecha_game_squad_management_processor.go
  backend/internal/mapper/mecha_game_chassis.go
  backend/internal/record/mecha_game_record/mecha_game_chassis.go
  backend/schema/api/mecha_game_schema/mecha_game_chassis.go
  docs/mecha-game.md
  frontend/src/components/FieldHint.test.js
  frontend/src/components/FieldHint.vue
  frontend/src/views/studio/adventure/StudioLocationLinkRequirementsView.vue
  frontend/src/views/studio/mecha/StudioChassisView.test.js
  frontend/src/views/studio/mecha/StudioChassisView.vue
  frontend/src/views/studio/mecha/StudioComputerOpponentsView.vue
  frontend/src/views/studio/mecha/StudioSectorsView.vue
  frontend/src/views/studio/mecha/StudioSquadsView.vue
  frontend/src/views/studio/mecha/StudioWeaponsView.vue
Due: lint-backend, test-backend, test-frontend

Remove unused storeToRefs import in chassis view test
  frontend/src/views/studio/mecha/StudioChassisView.test.js
Due: test-frontend

Update release notes for 19 April 2026
  RELEASE_NOTES.md
Due: none

Update mecha turn sheets for equipment, ammo, and mobile layout
  backend/cmd/turnsheet-dev/gallery.html
  backend/internal/jobworker/mecha_game/turn_sheet_processor/mecha_game_orders_processor.go
  backend/internal/jobworker/mecha_game/turn_sheet_processor/mecha_game_squad_management_processor.go
  backend/internal/turnsheet/adventure_game_join_game.go
  backend/internal/turnsheet/mecha_game_join_game.go
  backend/internal/turnsheet/mecha_game_orders.go
  backend/internal/turnsheet/mecha_game_orders_fixture.go
  backend/internal/turnsheet/mecha_game_orders_test.go
  backend/internal/turnsheet/mecha_game_squad_management.go
  backend/internal/turnsheet/mecha_game_squad_management_fixture.go
  backend/internal/turnsheet/mecha_game_squad_management_test.go
  backend/templates/turnsheet/mecha_game_orders.template
  backend/templates/turnsheet/mecha_game_squad_management.template
Due: lint-backend, test-backend

Configure OpenAI models via env; switch image tooling to gpt-image-1.5
  .gitignore
  backend/internal/agent/openai_text_agent.go
  backend/internal/agent/openai_vision_agent.go
  backend/internal/utils/config/config.go
  tools/generate-turn-sheet-background
  tools/generate-turn-sheet-background.py
  tools/heroku-config-check
Due: lint-backend, test-backend

Harden mecha turn sheet persistence and expand combat event detail
  backend/internal/jobworker/mecha_game/combat_resolution.go
  backend/internal/jobworker/mecha_game/create_turn_sheets.go
  backend/internal/jobworker/mecha_game/mecha_game.go
  backend/internal/jobworker/mecha_game/process_turn_sheets.go
  backend/internal/jobworker/mecha_game/turn_sheet_processor/mecha_game_orders_processor.go
  backend/internal/record/mecha_game_record/loadout.go
  backend/internal/record/mecha_game_record/loadout_test.go
  backend/internal/record/mecha_game_record/mecha_game_mech_instance.go
  backend/internal/record/mecha_game_record/mecha_game_squad_mech.go
Due: lint-backend, test-backend
