Repository alienspaces/playbymail: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-backend, test-backend, test-frontend

Path conditions:
  lint-backend: any of: backend/**/*, tools/golang-lint
  test-backend: any of: backend/**/*, tools/**/*
  test-frontend: any of: frontend/**/*

Add conditional account link to email footer
  backend/internal/jobworker/email_template_test.go
  backend/internal/jobworker/send_game_subscription_approval_email.go
  backend/internal/jobworker/send_turn_sheet_notification_email.go
  backend/templates/email/base.email.html
  backend/templates/email/turn_sheet_notification.email.html
Due: lint-backend, test-backend

Add PDF turn sheet download endpoint and frontend download button
  backend/internal/runner/server/player/player_turn_sheet_handler.go
  backend/internal/runner/server/player/player_turn_sheet_handler_test.go
  frontend/src/api/player.js
  frontend/src/views/PlayerTurnSheetView.test.js
  frontend/src/views/PlayerTurnSheetView.vue
Due: lint-backend, test-backend, test-frontend

Add CLI and tool to load test game data by scenario
  .gitignore
  backend/internal/runner/cli/load_test_data.go
  backend/internal/runner/cli/runner.go
  backend/internal/runner/cli/testdata_scenarios.go
  tools/db-load-game
Due: lint-backend, test-backend

Update .gitignore
  .gitignore
Due: none

Separate test data from game data CLI and add full scenario
  .gitlab-ci.yml
  backend/internal/runner/cli/load_game_data.go
  backend/internal/runner/cli/load_test_data.go
  backend/internal/runner/cli/runner.go
  backend/internal/runner/cli/seed_data.go
  backend/internal/runner/cli/seed_data/seed_data.go
  backend/internal/runner/cli/seed_reference_data.go
  backend/internal/runner/cli/testdata_scenarios.go
  playwright/README.md
  tools/db-load-game
  tools/db-load-test-data
  tools/db-load-test-reference-data
  tools/db-setup
  tools/db-setup-test
  tools/test-backend-ci
Due: lint-backend, test-backend

Rename to demo scenarios with separate config and images
  backend/internal/harness/config.go
  backend/internal/harness/game_image.go
  backend/internal/runner/cli/demo_scenario_images/background-cliffpath.png
  backend/internal/runner/cli/demo_scenario_images/background-darkforest.png
  backend/internal/runner/cli/demo_scenario_images/background-dungeon.png
  backend/internal/runner/cli/demo_scenario_images/inventory-management.png
  backend/internal/runner/cli/demo_scenario_images/join-game.png
  backend/internal/runner/cli/demo_scenario_images/location-cliffpath.png
  backend/internal/runner/cli/demo_scenario_images/location-darkforest.png
  backend/internal/runner/cli/demo_scenario_images/location-dungeon.png
  backend/internal/runner/cli/demo_scenarios.go
  backend/internal/runner/cli/demo_scenarios/demo_scenarios.go
  backend/internal/runner/cli/load_game_data.go
  backend/internal/runner/cli/runner.go
  backend/internal/runner/cli/seed_reference_data/seed_reference_data.go
  backend/internal/runner/cli/test_data.go
  backend/internal/runner/cli/test_data/test_data.go
  backend/internal/runner/cli/test_data_images/background-cliffpath.png
  backend/internal/runner/cli/test_data_images/background-darkforest.png
  backend/internal/runner/cli/test_data_images/background-dungeon.png
  backend/internal/runner/cli/test_data_images/inventory-management.png
  backend/internal/runner/cli/test_data_images/join-game.png
  backend/internal/runner/cli/test_data_images/location-cliffpath.png
  backend/internal/runner/cli/test_data_images/location-darkforest.png
  backend/internal/runner/cli/test_data_images/location-dungeon.png
  backend/internal/runner/cli/test_reference_data.go
  backend/internal/runner/cli/test_reference_data/test_reference_data.go
  backend/internal/runner/cli/testdata_scenarios.go
Due: lint-backend, test-backend

Fix lint issues in harness, CLI, and demo scenarios
  backend/internal/harness/harness.go
  backend/internal/runner/cli/demo_scenarios.go
  backend/internal/runner/cli/load_game_data.go
Due: lint-backend, test-backend

Complete authenticated join game flow and remove RLS
  .env.develop
  backend/core/domain/domain.go
  backend/core/repository/generic.go
  backend/core/repository/genericview.go
  backend/core/repository/repository.go
  backend/core/repository/repository_test.go
  backend/core/server/authenmiddleware.go
  backend/core/server/ctx.go
  backend/core/server/middleware.go
  backend/core/server/rlsmiddleware.go
  backend/core/server/runner.go
  backend/internal/domain/game.go
  backend/internal/domain/game_subscription.go
  backend/internal/domain/game_subscription_validate.go
  backend/internal/repository/account_user/repository.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_placement_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_turn_sheet_image_handler.go
  backend/internal/runner/server/game/game_handler.go
  backend/internal/runner/server/game/game_subscription_join_handler.go
  backend/internal/runner/server/game/game_subscription_join_handler_test.go
  backend/internal/runner/server/game/game_turn_sheet_handler.go
  backend/internal/runner/server/game/game_turn_sheet_image_handler.go
  backend/internal/runner/server/handler_auth/auth.go
  backend/internal/runner/server/handler_rls/rls.go
  backend/internal/runner/server/runner.go
  backend/internal/turnsheet/adventure_game_join_game.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/templates/turnsheet/adventure_game_join_game.template
  frontend/src/api/joinGame.js
  frontend/src/api/joinGame.test.js
  frontend/src/router/player.js
  frontend/src/views/PlayerJoinGameView.test.js
  frontend/src/views/PlayerJoinGameView.vue
  frontend/src/views/VerifyView.vue
  playwright/workflows/join-game.spec.js
Due: lint-backend, test-backend, test-frontend

Add player app with turn sheet display and join game flow
  backend/core/server/http.go
  backend/internal/jobworker/send_turn_sheet_notification_email.go
  backend/internal/runner/server/game/game_subscription_join_handler.go
  backend/internal/runner/server/player/player_turn_sheet_handler.go
  backend/schema/api/player_schema/player.verify-game-subscription-token.request.schema.json
  backend/templates/turnsheet/adventure_game_join_game.template
  backend/templates/turnsheet/base.template
  frontend/index.html
  frontend/player/index.html
  frontend/src/PlayerApp.vue
  frontend/src/api/joinGame.js
  frontend/src/api/joinGame.test.js
  frontend/src/api/player.js
  frontend/src/api/player.test.js
  frontend/src/main.js
  frontend/src/player-main.js
  frontend/src/router/index.js
  frontend/src/router/player.js
  frontend/src/views/HomeView.test.js
  frontend/src/views/HomeView.vue
  frontend/src/views/PlayerJoinGameView.vue
  frontend/src/views/PlayerTurnSheetView.test.js
  frontend/src/views/PlayerTurnSheetView.vue
  frontend/vite.config.js
  playwright/core/player-app-routing.spec.js
  playwright/workflows/join-game.spec.js
Due: lint-backend, test-backend, test-frontend

Fix backend CI failure in SearchManyGameInstances test
  backend/internal/runner/server/game/game_instance_handler_test.go
Due: lint-backend, test-backend

Fix submit join game handler
  backend/internal/runner/server/game/game_subscription_join_handler.go
Due: lint-backend, test-backend

Account user contact fields are now mostly optional; unless postage
  backend/internal/runner/server/account/account_contact_handler_test.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/schema/api/account_schema/account_contact.schema.json
Due: lint-backend, test-backend

Fix game subscription tests
  backend/internal/mapper/game_subscription.go
  backend/internal/mapper/game_subscription_instance.go
  backend/internal/record/game_record/game_subscription_view.go
  backend/internal/runner/server/game/game_subscription_handler.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/schema/api/game_schema/game_subscription.go
  backend/schema/api/game_schema/game_subscription.schema.json
  backend/schema/api/game_schema/game_subscription_instance.go
  backend/schema/api/game_schema/game_subscription_instance.schema.json
Due: lint-backend, test-backend

Fix frontend and backend lint errors
  backend/internal/domain/account.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  frontend/src/views/PlayerTurnSheetView.vue
Due: lint-backend, test-backend, test-frontend

Fix CI e2e test execution
  .gitlab-ci.yml
  tools/test-e2e-ci
Due: test-backend

Remove email from token verification
  backend/internal/runner/server/game/game_subscription_handler.go
  backend/internal/runner/server/game/game_subscription_join_handler.go
  backend/internal/runner/server/player/player_turn_sheet_handler.go
  backend/schema/api/player_schema/player.go
  backend/schema/api/player_schema/player.verify-game-subscription-token.request.schema.json
  frontend/src/api/player.js
  frontend/src/api/player.test.js
  frontend/src/views/PlayerTurnSheetLoginView.vue
Due: lint-backend, test-backend, test-frontend

Remove unused link and unlink subscription APIs
  backend/internal/runner/server/game/game_subscription_handler.go
  frontend/src/api/gameSubscriptions.js
  frontend/src/api/gameSubscriptions.test.js
Due: lint-backend, test-backend, test-frontend

Fix lint: declare instances/subs where used in load_game_data_test
  backend/internal/harness/harness.go
  backend/internal/runner/cli/load_game_data_test.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
Due: lint-backend, test-backend

Reduce test log noise: CI warn level, harness and domain to Debug
  .gitlab-ci.yml
  backend/core/harness/testing.go
  backend/internal/domain/account.go
  backend/internal/domain/account_subscription.go
  backend/internal/harness/account.go
  backend/internal/harness/harness.go
  backend/internal/jobworker/adventure_game/create_turn_sheets.go
  backend/internal/jobworker/adventure_game/process_turn_sheets.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
Due: lint-backend, test-backend

Tidy TODOs: remove obsolete items, add agent-suggestion comments
  backend/internal/domain/adventure_game_validate_test.go
  backend/internal/domain/error.go
  backend/internal/domain/game_subscription_test.go
  backend/internal/harness/automated_play.go
  backend/internal/harness/config.go
  backend/internal/harness/game_image.go
  backend/internal/harness/game_turn_sheet.go
  backend/internal/jobworker/adventure_game/adventure_game.go
  backend/internal/jobworker/adventure_game/create_turn_sheets.go
  backend/internal/jobworker/adventure_game/process_subscription.go
  backend/internal/jobworker/adventure_game/process_turn_sheets.go
  backend/internal/jobworker/game_subscription_processing.go
  backend/internal/jobworker/game_turn_processing.go
  backend/internal/mapper/adventure_game_instance.go
  backend/internal/mapper/adventure_game_location_link_requirement.go
  backend/internal/record/adventure_game_record/adventure_game_image.go
  backend/internal/runner/cli/load_game_data.go
  backend/internal/runner/server/runner.go
  backend/internal/turnsheet/adventure_game_inventory_management_test.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  frontend/src/views/management/ManagementCreateInstanceView.vue
Due: lint-backend, test-backend, test-frontend

Add server log files for debugging and development
  .cursorignore
  backend/internal/domain/adventure_game_validate_test.go
  tools/start-backend
  tools/start-frontend
Due: lint-backend, test-backend

Add delivery_method to game subscriptions and fix join game submission
  backend/db/20260317090240_add_delivery_method_to_game_subscription.down.sql
  backend/db/20260317090240_add_delivery_method_to_game_subscription.up.sql
  backend/internal/domain/account.go
  backend/internal/domain/game_subscription.go
  backend/internal/harness/game_subscription.go
  backend/internal/mapper/game_subscription.go
  backend/internal/record/game_record/game_subscription.go
  backend/internal/record/game_record/game_subscription_view.go
  backend/internal/runner/server/game/game_subscription_handler.go
  backend/internal/runner/server/game/game_subscription_handler_test.go
  backend/internal/runner/server/game/game_subscription_join_handler.go
  backend/internal/runner/server/game/game_subscription_join_handler_test.go
  backend/internal/runner/server/game/game_turn_sheet_handler.go
  backend/internal/runner/server/game/game_turn_sheet_handler_test.go
  backend/internal/turnsheet/adventure_game_join_game.go
  backend/internal/turnsheet/adventure_game_join_game_test.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/internal/turnsheet/turnsheet.go
  backend/schema/api/game_schema/game_subscription.go
  backend/schema/api/game_schema/game_subscription.request.schema.json
  backend/schema/api/game_schema/game_subscription.schema.json
  backend/schema/api/player_schema/join_game.go
  backend/schema/api/player_schema/player.join-game-submit.request.schema.json
  backend/templates/turnsheet/adventure_game_join_game.template
  frontend/src/views/PlayerJoinGameView.vue
Due: lint-backend, test-backend, test-frontend

Fix gocritic lint: use %q for quoted strings in join game test
  backend/internal/turnsheet/adventure_game_join_game_test.go
Due: lint-backend, test-backend

Prevent duplicate turn processing jobs and reduce dev queueing interval
  .env.develop
  backend/internal/domain/account.go
  backend/internal/jobworker/game_turn_processing.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
Due: lint-backend, test-backend

Simplify turn sheet UI and fix background image and save errors
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_inventory_management_processor.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_location_choice_processor.go
  backend/internal/turnsheet/adventure_game_inventory_management_test.go
  backend/schema/turnsheet/adventure_game/inventory_management.schema.json
  frontend/src/views/PlayerTurnSheetView.test.js
  frontend/src/views/PlayerTurnSheetView.vue
  playwright/workflows/email-adventure-e2e.spec.js
Due: lint-backend, test-backend, test-frontend

Fix narrow player turn sheet view layout
  frontend/src/PlayerApp.vue
  frontend/src/views/PlayerTurnSheetView.vue
Due: test-frontend

Auto-pick-up location items before equipping during turn processing
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_inventory_management_processor.go
  backend/internal/turnsheet/adventure_game_inventory_management.go
  backend/internal/turnsheet/adventure_game_inventory_management_test.go
Due: lint-backend, test-backend

Fix equipment slot resolution, turn sheet ordering and UI improvements
  backend/internal/domain/adventure_game_item_instance_inventory.go
  backend/internal/jobworker/adventure_game/process_turn_sheets.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_inventory_management_processor.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_location_choice_processor.go
  backend/internal/record/adventure_game_record/adventure_game_turn_sheet.go
  backend/internal/runner/server/player/player_turn_sheet_handler.go
  backend/internal/turnsheet/adventure_game_inventory_management.go
  backend/internal/turnsheet/adventure_game_inventory_management_test.go
  backend/templates/turnsheet/adventure_game_inventory_management.template
  frontend/src/views/PlayerTurnSheetView.vue
  playwright/workflows/turn-sheet-equip.spec.js
Due: lint-backend, test-backend, test-frontend

Remove dead SaveJoinSheet constant and orphaned login view
  backend/internal/runner/server/game/game_subscription_join_handler.go
  frontend/src/views/PlayerTurnSheetLoginView.vue
Due: lint-backend, test-backend, test-frontend

Unify location link requirements to support item and creature conditions
  backend/db/20260318081107_adventure_game_unify_location_link_requirements.down.sql
  backend/db/20260318081107_adventure_game_unify_location_link_requirements.up.sql
  backend/internal/domain/adventure_game_location_link_requirement_validate.go
  backend/internal/harness/adventure_game.go
  backend/internal/harness/adventure_game_location_link_requirement.go
  backend/internal/harness/config.go
  backend/internal/harness/harness_test.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_location_choice_processor.go
  backend/internal/mapper/adventure_game_location_link.go
  backend/internal/mapper/adventure_game_location_link_requirement.go
  backend/internal/record/adventure_game_record/adventure_game_location_link.go
  backend/internal/record/adventure_game_record/adventure_game_location_link_requirement.go
  backend/internal/repository/adventure_game_location_link_requirement/repository_test.go
  backend/internal/runner/cli/demo_scenarios/adventure_game.go
  backend/internal/runner/cli/test_data/test_data.go
  backend/internal/turnsheet/adventure_game_location_choice.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/schema/api/adventure_game_schema/adventure_game_location_link.go
  backend/schema/api/adventure_game_schema/adventure_game_location_link.request.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_location_link.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_location_link_requirement.go
  backend/schema/api/adventure_game_schema/adventure_game_location_link_requirement.request.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_location_link_requirement.schema.json
  backend/templates/turnsheet/adventure_game_location_choice.template
  frontend/README.md
  frontend/src/api/locationLinkRequirements.js
  frontend/src/components/StudioLayout.vue
  frontend/src/router/index.js
  frontend/src/stores/locationLinkRequirements.js
  frontend/src/types.js
  frontend/src/views/studio/adventure/StudioLocationLinkRequirementsView.vue
  frontend/src/views/studio/adventure/StudioLocationLinksView.vue
Due: lint-backend, test-backend, test-frontend

Add March 2026 release notes and convert release-notes rule to skill
  RELEASE_NOTES.md
Due: none

Fix location link naming continuity and add turn sheet preview
  backend/internal/harness/config.go
  backend/internal/runner/cli/demo_scenarios/adventure_game.go
  frontend/src/components/ResourceModalForm.vue
  frontend/src/views/studio/adventure/StudioLocationLinksView.vue
Due: lint-backend, test-backend, test-frontend

Fix staticcheck lint errors in creature encounter processor
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_creature_encounter_processor_test.go
  backend/internal/turnsheet/adventure_game_creature_encounter.go
  tools/db-load-demo-game-heroku
Due: lint-backend, test-backend

Fix harness test count after adding return location link
  backend/internal/harness/harness_test.go
Due: lint-backend, test-backend
