Repository alienspaces/playbymail: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend

test-backend:
  variables:
    POSTGRES_DB: playbymail
    POSTGRES_USER: user
    POSTGRES_PASSWORD: pass
    DATABASE_URL: postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres:5432/$POSTGRES_DB?sslmode=disable
    DATABASE_VERSION: 17.5
    DATABASE_MAX_OPEN_CONNECTIONS: '180'
    DATABASE_MAX_IDLE_CONNECTIONS: '45'
  ...

test-frontend:
  image: node:18-alpine
  stage: test
  script:
  - ./tools/test-frontend

Refactored turn sheet scanning to use interface pattern
  backend/internal/runner/server/game/game.go
  backend/internal/runner/server/game/game_turn_sheet_handler.go
  backend/internal/runner/server/game/game_turn_sheet_handler_test.go
  backend/internal/runner/server/runner.go
  backend/internal/turn_sheet/adventure_game_join_game.go
  backend/internal/turn_sheet/turn_sheet_scanner.go
  backend/internal/utils/testutil/testutil.go
Due: test-backend

Removed Message and ScanQuality fields from turn sheet API
  backend/internal/domain/game_turn_sheet.go
  backend/internal/record/game_record/game_turn_sheet.go
  backend/internal/repository/game_turn_sheet/repository_test.go
  backend/internal/runner/server/game/game_turn_sheet_handler.go
  backend/schema/database/turn_sheet/response_data.schema.json
  backend/schema/database/turn_sheet/result_data.schema.json
Due: test-backend

Added game subscription processing job worker
  backend/internal/jobclient/jobclient.go
  backend/internal/jobworker/adventure_game/create_turn_sheets.go
  backend/internal/jobworker/adventure_game/process_subscription.go
  backend/internal/jobworker/adventure_game/process_turn_sheets.go
  backend/internal/jobworker/game_subscription_processing.go
  backend/internal/runner/server/game/game_subscription_handler.go
Due: test-backend

Added starting location concept for adventure games
  backend/core/record/record.go
  backend/db/20251123084734_main_add_starting_location_to_adventure_game_location.down.sql
  backend/db/20251123084734_main_add_starting_location_to_adventure_game_location.up.sql
  backend/internal/domain/adventure_game_location.go
  backend/internal/domain/game_instance.go
  backend/internal/harness/config.go
  backend/internal/jobworker/adventure_game/process_subscription.go
  backend/internal/mapper/adventure_game_location.go
  backend/internal/record/adventure_game_record/adventure_game_location.go
  backend/schema/api/adventure_game_schema/adventure_game_location.go
  backend/schema/api/adventure_game_schema/adventure_game_location.request.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_location.schema.json
Due: test-backend

Fixed test data to include starting locations
  backend/internal/runner/cli/maintestdata/maintestdata.go
Due: test-backend

Added starting location selection to frontend studio
  frontend/src/components/ResourceModalForm.vue
  frontend/src/views/studio/adventure/StudioLocationsView.vue
Due: test-frontend

Updated color palette and button styles
  frontend/index.html
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/components/Button.vue
  frontend/src/components/ManagementLayout.vue
  frontend/src/components/PageHeader.vue
  frontend/src/components/SectionHeader.vue
  frontend/src/components/StudioLayout.vue
  frontend/src/views/AccountView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/ManagementEntryView.vue
  frontend/src/views/StudioEntryView.vue
  frontend/src/views/management/ManagementGameInstancesView.vue
  frontend/src/views/studio/adventure/StudioGameInstanceDetailView.vue
  frontend/src/views/studio/adventure/StudioGameInstancesView.vue
  frontend/src/views/studio/adventure/StudioItemsView.vue
  frontend/src/views/studio/adventure/StudioLocationsView.vue
Due: test-frontend

Footer layout polishing - Adjusted header/footer bands and layout spacing - Moved release info to its own footer section - Matched Coming Soon typography to release label
  frontend/src/App.vue
  frontend/src/components/BuildInfo.vue
  frontend/src/components/ComingSoonBanner.vue
Due: test-frontend

Frontend lint/test updates - Restore narrow header/footer styling and footer layout - Fix lint issues and update Vue components - Refresh affected unit tests
  frontend/src/App.vue
  frontend/src/components/BuildInfo.test.js
  frontend/src/components/ComingSoonBanner.test.js
  frontend/src/components/ConfirmationModal.test.js
  frontend/src/components/ContactModal.vue
  frontend/src/components/GameContext.test.js
  frontend/src/components/GameContext.vue
  frontend/src/components/SectionHeader.vue
  frontend/src/components/TableActionsMenu.vue
  frontend/src/views/LoginView.test.js
  frontend/src/views/LoginView.vue
  frontend/src/views/account/AccountContactsView.vue
  frontend/src/views/account/AccountProfileView.vue
  frontend/src/views/studio/adventure/StudioCreaturePlacementsView.test.js
Due: test-frontend

Update asset defaults - default assets path to dist output
  backend/core/config/config.go
Due: test-backend

Revert "Update asset defaults"
  backend/core/config/config.go
Due: test-backend

Fix asset path stripping - strip /assets prefix before serving files
  backend/core/server/http.go
Due: test-backend

Refined UI layout spacing
  frontend/src/App.vue
  frontend/src/components/AccountLayout.vue
  frontend/src/components/PageHeader.test.js
  frontend/src/components/PageHeader.vue
  frontend/src/components/StudioLayout.vue
  frontend/src/views/AccountView.vue
  frontend/src/views/GameView.vue
  frontend/src/views/ManagementView.vue
  frontend/src/views/account/AccountContactsView.vue
  frontend/src/views/account/AccountProfileView.vue
  frontend/src/views/management/ManagementGamesDashboardView.vue
Due: test-frontend

Adjust footer spacing and overlap
  frontend/src/App.vue
Due: test-frontend

Improved mobile footer layout and readability
  frontend/src/App.vue
  frontend/src/components/ComingSoonBanner.vue
Due: test-frontend

Extended sidebar to meet footer on account screen\n\n- Applied same fix to AccountLayout as StudioLayout\n- Added ::after pseudo-element to extend sidebar background\n down to footer green band
  frontend/src/components/AccountLayout.vue
Due: test-frontend

Refine studio entry view\n- refresh copy and spacing\n- adjust management entry test naming
  frontend/src/views/ManagementEntryView.test.js
  frontend/src/views/StudioEntryView.vue
Due: test-frontend

Update StudioLayout test for new entry text\n- match updated StudioEntryView copy
  frontend/src/components/StudioLayout.test.js
Due: test-frontend

Updated game genres documentation
  README.md
  frontend/src/views/HomeView.vue
  frontend/src/views/StudioEntryView.vue
Due: test-frontend

Refactored turn sheet processing and test harness configuration
  backend/internal/harness/adventure_game.go
  backend/internal/harness/adventure_game_turn_sheet.go
  backend/internal/harness/config.go
  backend/internal/harness/game_subscription.go
  backend/internal/harness/game_turn_sheet.go
  backend/internal/jobworker/adventure_game/create_turn_sheets.go
  backend/internal/jobworker/adventure_game/process_subscription.go
  backend/internal/jobworker/game_turn_processing.go
  backend/internal/runner/server/game/game_turn_sheet_handler_test.go
  backend/internal/turn_sheet/adventure_game_join_game.go
  backend/internal/turn_sheet/adventure_game_join_game_test.go
  backend/internal/turn_sheet/turn_sheet.go
Due: test-backend

Add configurable test bypass authentication for E2E and API tests
  .env.develop
  backend/internal/domain/account.go
  backend/internal/runner/server/account/account_handler.go
  backend/internal/utils/config/config.go
  playwright/auth.setup.js
  playwright/core/authentication.spec.js
  playwright/core/navigation.spec.js
  playwright/ui/components.spec.js
  playwright/utils/test-helpers.js
  playwright/workflows/admin-workflows.spec.js
  playwright/workflows/game-creation.spec.js
  tools/test-playwright
Due: test-backend

Add playwright/screenshots/ to gitignore
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
  tools/npm-upgrade-safe
  tools/security-check
Due: test-backend, test-frontend

Update release notes with November 2025 changes
  RELEASE_NOTES.md
Due: none

Updated November release notes with UI features
  RELEASE_NOTES.md
Due: none

Updated November release notes
  RELEASE_NOTES.md
Due: none

Frontend development auth bypass and UI spacing improvements
  .env.develop
  frontend/README.md
  frontend/src/api/auth.js
  frontend/src/assets/base.css
  frontend/src/components/ManagementLayout.vue
  frontend/src/components/PageHeader.vue
  frontend/src/components/SidebarLayout.vue
  frontend/src/components/StudioLayout.vue
  frontend/vite.config.js
  tools/start-frontend
Due: test-backend, test-frontend

Fixed modal z-index and mobile spacing issues
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/components/ConfirmationModal.vue
  frontend/src/components/MainPageHeader.vue
  frontend/src/components/PageHeader.vue
  frontend/src/components/ResourceModalForm.vue
  frontend/src/components/SidebarLayout.vue
  frontend/src/components/TurnSheetPreviewModal.vue
  frontend/src/views/GameView.vue
Due: test-frontend

Added location turn sheet image upload and preview
  backend/internal/mapper/game_image.go
  backend/internal/runner/server/adventure_game/adventure_game.go
  backend/internal/runner/server/adventure_game/adventure_game_location_turn_sheet_image_handler.go
  backend/schema/api/game_schema/game_image.go
  frontend/src/api/locationImages.js
  frontend/src/components/LocationTurnSheetImageUpload.vue
  frontend/src/components/LocationTurnSheetPreviewModal.vue
  frontend/src/views/studio/adventure/StudioLocationsView.vue
Due: test-backend, test-frontend

Updated turn sheet styling and test infrastructure
  backend/internal/harness/adventure_game.go
  backend/internal/harness/config.go
  backend/internal/harness/data.go
  backend/internal/harness/game.go
  backend/internal/harness/game_image.go
  backend/internal/harness/harness.go
  backend/internal/runner/cli/maintestdata/maintestdata.go
  backend/internal/runner/server/adventure_game/adventure_game_location_turn_sheet_image_handler.go
  backend/internal/turn_sheet/adventure_game_join_game_test.go
  backend/internal/turn_sheet/adventure_game_location_choice_test.go
  backend/internal/turn_sheet/adventure_game_test.go
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_join_game_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turn_sheet/testdata/adventure_game_location_choice_turn_sheet.pdf
  backend/internal/turn_sheet/testdata/background-cliffpath.png
  backend/internal/turn_sheet/testdata/background-darkforest.png
  backend/internal/turn_sheet/testdata/background-dungeon.png
  backend/templates/turn_sheet/adventure_game_join_game.template
  backend/templates/turn_sheet/adventure_game_location_choice.template
  backend/templates/turn_sheet/base.template
  frontend/src/App.vue
  frontend/src/api/locationImages.js
  frontend/src/components/ConfirmationModal.vue
  frontend/src/components/LocationTurnSheetImageUpload.vue
  frontend/src/components/LocationTurnSheetPreviewModal.vue
  frontend/src/components/ManagementLayout.vue
  frontend/src/components/ResourceModalForm.vue
  frontend/src/components/SidebarLayout.vue
  frontend/src/views/management/ManagementCreateInstanceView.vue
Due: test-backend, test-frontend

Improved action button spacing and added TODO for test image management
  backend/internal/harness/game_image.go
  frontend/src/components/TableActions.vue
Due: test-backend, test-frontend

Add inventory system database schema and record layer
  backend/db/20251202015327_main_add_item_category_and_equipment_slot.down.sql
  backend/db/20251202015327_main_add_item_category_and_equipment_slot.up.sql
  backend/db/20251202015411_main_add_inventory_capacity_to_character_instance.down.sql
  backend/db/20251202015411_main_add_inventory_capacity_to_character_instance.up.sql
  backend/db/20251202015421_main_add_equipment_slot_to_item_instance.down.sql
  backend/db/20251202015421_main_add_equipment_slot_to_item_instance.up.sql
  backend/internal/record/adventure_game_record/adventure_game_character_instance.go
  backend/internal/record/adventure_game_record/adventure_game_item.go
  backend/internal/record/adventure_game_record/adventure_game_item_instance.go
Due: test-backend

Add inventory management domain methods
  backend/internal/domain/adventure_game_item_instance_inventory.go
  backend/internal/record/adventure_game_record/adventure_game_item.go
Due: test-backend

Path conditions:
  test-backend: any of: backend/**/*, tools/**/*
  test-frontend: any of: frontend/**/*
