Repository alienspaces/playbymail: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-backend, test-backend, test-frontend

lint-backend:
  image: golangci/golangci-lint:v2.1.6-alpine
  stage: test
  interruptible: true
  script:
  - ./tools/golang-lint

test-backend:
  variables:
    POSTGRES_DB: playbymail
    POSTGRES_USER: user
    POSTGRES_PASSWORD: pass
    DATABASE_URL: postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres:5432/$POSTGRES_DB?sslmode=disable
    DATABASE_VERSION: 17.5
    DATABASE_MAX_OPEN_CONNECTIONS: '180'
    DATABASE_MAX_IDLE_CONNECTIONS: '45'
  ...

test-frontend:
  image: node:18-alpine
  stage: test
  interruptible: true
  before_script:
  - apk add --no-cache git
  script:
  - ./tools/test-frontend

Fix repository test after adding third harness location
  backend/internal/harness/config.go
  backend/internal/harness/harness_test.go
  backend/internal/repository/adventure_game_location_link/repository_test.go
Due: lint-backend, test-backend

Update location instance handler test count to 3
  backend/internal/runner/server/adventure_game/adventure_game_location_instance_handler_test.go
Due: lint-backend, test-backend

Update location handler test count to 3
  backend/internal/runner/server/adventure_game/adventure_game_location_handler_test.go
Due: lint-backend, test-backend

Link manager subscription on instance creation, return link ID in response
  backend/internal/mapper/game_instance.go
  backend/internal/runner/server/game/game_instance_handler.go
  backend/internal/runner/server/game/game_instance_handler_test.go
  backend/schema/api/game_schema/game_instance.go
  backend/schema/api/game_schema/game_instance.schema.json
Due: lint-backend, test-backend

Add per-instance turn_duration_hours
  backend/db/20260319100000_game_instance_turn_duration_hours.down.sql
  backend/db/20260319100000_game_instance_turn_duration_hours.up.sql
  backend/internal/domain/game_instance.go
  backend/internal/domain/game_instance_validate.go
  backend/internal/mapper/game_instance.go
  backend/internal/record/game_record/game_instance.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.pdf
  backend/schema/api/game_schema/game_instance.go
  backend/schema/api/game_schema/game_instance.schema.json
  frontend/src/views/management/ManagementCreateInstanceView.vue
  frontend/src/views/management/ManagementInstanceDetailView.vue
Due: lint-backend, test-backend, test-frontend

Allow logical deletion of cancelled game instances
  backend/internal/runner/server/game/game_instance_handler.go
  backend/internal/runner/server/game/game_instance_handler_test.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.pdf
  frontend/src/views/management/ManagementGameInstancesView.vue
Due: lint-backend, test-backend, test-frontend

Split applyObjectEffect to reduce cyclomatic complexity
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_location_choice_processor.go
  backend/internal/record/adventure_game_record/adventure_game_location_object_effect.go
Due: lint-backend, test-backend

Allow empty result_description on location object effects
  backend/internal/domain/adventure_game_character_instance_validate.go
  backend/internal/domain/adventure_game_item_instance_inventory.go
  backend/internal/domain/adventure_game_location_object_effect_validate.go
  backend/internal/harness/adventure_game_character_instance.go
  backend/internal/jobworker/adventure_game/process_subscription.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_creature_encounter_processor.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_inventory_management_processor.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_location_choice_processor.go
  backend/internal/record/adventure_game_record/adventure_game_character_instance.go
  backend/internal/repository/adventure_game_character_instance/repository_test.go
  backend/internal/runner/server/game/game_subscription_join_handler.go
Due: lint-backend, test-backend

Remove location objects and instances in removeGameAndDependents
  backend/internal/domain/game_instance.go
  backend/internal/harness/adventure_game.go
  backend/internal/jobworker/adventure_game/process_subscription.go
  backend/internal/jobworker/game_turn_queueing.go
  backend/internal/runner/cli/load_game_data.go
  backend/internal/runner/server/game/game_instance_handler.go
  backend/internal/runner/server/game/game_subscription_join_handler.go
Due: lint-backend, test-backend

Fix pre-existing harness compile errors and refactor removeGameAndDependents
  backend/internal/harness/adventure_game.go
  backend/internal/harness/adventure_game_character_instance.go
  backend/internal/harness/adventure_game_creature_instance.go
  backend/internal/harness/adventure_game_creature_placement.go
  backend/internal/harness/adventure_game_item_instance.go
  backend/internal/harness/adventure_game_item_placement.go
  backend/internal/harness/adventure_game_location_instance.go
  backend/internal/harness/config.go
  backend/internal/harness/data.go
  backend/internal/runner/cli/load_game_data.go
Due: lint-backend, test-backend

Remove unused harness helper replaced by PopulateAdventureGameInstanceData
  backend/internal/domain/game_instance.go
  backend/internal/harness/adventure_game_location_object_instance.go
  backend/internal/harness/config.go
  backend/internal/harness/harness_test.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_creature_encounter_processor_test.go
  backend/internal/runner/cli/test_data/test_data.go
Due: lint-backend, test-backend

Add package doc comment to harness/config.go
  backend/internal/harness/config.go
Due: lint-backend, test-backend

Fix CI duplicate key failures in handler placement tests
  backend/internal/harness/adventure_game.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_placement_handler_test.go
  backend/internal/runner/server/adventure_game/adventure_game_item_placement_handler_test.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.pdf
Due: lint-backend, test-backend

Add traversal_description to location link JSON schemas
  backend/schema/api/adventure_game_schema/adventure_game_location_link.request.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_location_link.schema.json
Due: lint-backend, test-backend

Refactor harness to use ShouldStartGameInstance and RemoveGameInstance
  backend/internal/domain/game_instance.go
  backend/internal/harness/adventure_game.go
  backend/internal/harness/config.go
  backend/internal/harness/game_turn_sheet.go
  backend/internal/harness/harness.go
  backend/internal/runner/cli/test_data/test_data.go
  backend/internal/runner/server/game/game_instance_handler_test.go
  backend/internal/runner/server/game/game_turn_sheet_handler_test.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.pdf
Due: lint-backend, test-backend

Fix stale column key expectations in location object view tests
  RELEASE_NOTES.md
  frontend/src/views/studio/adventure/StudioLocationObjectEffectsView.test.js
  frontend/src/views/studio/adventure/StudioLocationObjectsView.test.js
Due: test-frontend

Update release note section headings to DD Month YYYY format
  RELEASE_NOTES.md
Due: none

Update Desert Kingdom test data game design
  backend/internal/runner/cli/test_data/test_data.go
  frontend/src/components/ObjectStateFlowModal.vue
  frontend/src/components/TableActions.vue
  frontend/src/views/studio/adventure/StudioLocationObjectsView.vue
Due: lint-backend, test-backend, test-frontend

Remove unused stateById computed in ObjectStateFlowModal
  frontend/src/components/ObjectStateFlowModal.vue
Due: test-frontend

Add game ownership authorization to adventure game resource handlers
  backend/internal/runner/server/adventure_game/adventure_game_authz.go
  backend/internal/runner/server/adventure_game/adventure_game_character_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_character_handler_test.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_handler_test.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_image_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_placement_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_placement_handler_test.go
  backend/internal/runner/server/adventure_game/adventure_game_item_effect_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_item_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_item_placement_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_item_placement_handler_test.go
  backend/internal/runner/server/adventure_game/adventure_game_location_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_handler_test.go
  backend/internal/runner/server/adventure_game/adventure_game_location_link_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_link_handler_test.go
  backend/internal/runner/server/adventure_game/adventure_game_location_link_requirement_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_object_effect_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_object_effect_handler_test.go
  backend/internal/runner/server/adventure_game/adventure_game_location_object_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_object_handler_test.go
  backend/internal/runner/server/adventure_game/adventure_game_location_object_state_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_turn_sheet_image_handler.go
Due: lint-backend, test-backend

Fix gocritic and ineffassign lint warnings
  backend/internal/domain/game_validate.go
  backend/internal/harness/adventure_game_location_object.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_inventory_management_processor.go
Due: lint-backend, test-backend

Consistent authorization across game and adventure_game handlers
  backend/db/20260320100000_manager_game_instance_view_add_account_user_id.down.sql
  backend/db/20260320100000_manager_game_instance_view_add_account_user_id.up.sql
  backend/internal/domain/game_subscription.go
  backend/internal/jobworker/game_turn_processing.go
  backend/internal/record/game_record/manager_game_instance_view.go
  backend/internal/runner/server/adventure_game/adventure_game_character_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_image_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_creature_placement_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_item_effect_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_item_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_item_placement_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_link_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_link_requirement_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_object_effect_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_object_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_object_state_handler.go
  backend/internal/runner/server/adventure_game/adventure_game_location_turn_sheet_image_handler.go
  backend/internal/runner/server/game/game_authz.go
  backend/internal/runner/server/game/game_handler.go
  backend/internal/runner/server/game/game_instance_authz.go
  backend/internal/runner/server/game/game_instance_handler.go
  backend/internal/runner/server/game/game_instance_parameter_handler.go
  backend/internal/runner/server/game/game_subscription_handler.go
  backend/internal/runner/server/game/game_turn_sheet_image_handler.go
  backend/internal/runner/server/game/game_turn_sheet_image_handler_test.go
  backend/internal/runner/server/game/game_validate_handler.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.pdf
Due: lint-backend, test-backend

Expose turn_duration_hours and process_when_all_submitted on game instance API and create form
  backend/internal/harness/adventure_game.go
  backend/internal/harness/adventure_game_item.go
  backend/internal/harness/adventure_game_item_effect.go
  backend/internal/harness/config.go
  backend/internal/harness/data.go
  backend/internal/mapper/game_instance.go
  backend/internal/runner/cli/test_data/test_data.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.pdf
  backend/schema/api/game_schema/game_instance.go
  backend/schema/api/game_schema/game_instance.request.schema.json
  backend/schema/api/game_schema/game_instance.schema.json
  frontend/src/views/management/ManagementGameInstancesView.vue
Due: lint-backend, test-backend, test-frontend

Fix gocyclo lint: split removeAdventureGameRecords into focused helpers
  backend/internal/harness/adventure_game.go
Due: lint-backend, test-backend

Fix teardown FK violation: remove placements before locations
  backend/internal/harness/adventure_game.go
Due: lint-backend, test-backend

Add place_item effect, pickup item effects, weapon name in combat, and expanded demo scenario
  backend/db/20260320110000_place_item_and_pickup.down.sql
  backend/db/20260320110000_place_item_and_pickup.up.sql
  backend/internal/harness/adventure_game.go
  backend/internal/harness/adventure_game_item.go
  backend/internal/harness/adventure_game_location_object.go
  backend/internal/harness/config.go
  backend/internal/harness/game_subscription.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_creature_encounter_processor.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_inventory_management_processor.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_location_choice_processor.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_location_choice_processor_test.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/adventure_game_location_object_effect_processor.go
  backend/internal/jobworker/adventure_game/turn_sheet_processor/helpers.go
  backend/internal/record/adventure_game_record/adventure_game_item_effect.go
  backend/internal/record/adventure_game_record/adventure_game_location_object_effect.go
  backend/internal/runner/cli/demo_scenario_images/creature-bone-revenant.jpg
  backend/internal/runner/cli/demo_scenario_images/creature-crypt-spider.jpg
  backend/internal/runner/cli/demo_scenario_images/creature-drowned-monk.jpg
  backend/internal/runner/cli/demo_scenario_images/location-infirmary.jpg
  backend/internal/runner/cli/demo_scenario_images/location-ossuary.jpg
  backend/internal/runner/cli/demo_scenario_images/location-sacristy.jpg
  backend/internal/runner/cli/demo_scenarios/adventure_game.go
  backend/internal/runner/cli/demo_scenarios/demo_scenarios.go
  backend/internal/runner/cli/load_game_data.go
  backend/internal/runner/cli/test_data/test_data.go
  backend/schema/api/adventure_game_schema/adventure_game_item_effect.request.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_item_effect.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_location_object_effect.request.schema.json
  backend/schema/api/adventure_game_schema/adventure_game_location_object_effect.schema.json
  backend/templates/turnsheet/adventure_game_inventory_management.template
  backend/templates/turnsheet/adventure_game_location_choice.template
  backend/templates/turnsheet/adventure_game_monster_encounter.template
  backend/templates/turnsheet/base.template
  frontend/src/views/PlayerTurnSheetView.vue
  frontend/src/views/studio/adventure/StudioItemEffectsView.vue
  frontend/src/views/studio/adventure/StudioLocationObjectEffectsView.vue
Due: lint-backend, test-backend, test-frontend

Fix game catalog container too wide on mobile
  frontend/src/views/GameCatalogView.vue
Due: test-frontend

Tighten inventory management turn sheet content
  backend/internal/turnsheet/adventure_game_inventory_management.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turn_sheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/templates/turnsheet/adventure_game_inventory_management.template
Due: lint-backend, test-backend

Update location choice turn sheet instructions
  backend/internal/turnsheet/adventure_game_location_choice.go
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turn_sheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
Due: lint-backend, test-backend

Add account name to catalog and profile; fix catalog view dedup and turn duration
  backend/db/20260320204856_catalog_view_fix_duration_and_dedup.down.sql
  backend/db/20260320204856_catalog_view_fix_duration_and_dedup.up.sql
  backend/db/20260320210539_catalog_view_add_account_name.down.sql
  backend/db/20260320210539_catalog_view_add_account_name.up.sql
  backend/internal/mapper/catalog_game_instance.go
  backend/internal/record/game_record/catalog_game_instance_view.go
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.pdf
  backend/schema/api/game_schema/catalog_game_instance.go
  backend/schema/api/game_schema/catalog_game_instance.schema.json
  frontend/src/api/account.js
  frontend/src/views/GameCatalogView.test.js
  frontend/src/views/GameCatalogView.vue
  frontend/src/views/account/AccountProfileView.vue
  frontend/src/views/management/ManagementGameInstancesView.vue
  frontend/src/views/management/ManagementInstanceDetailView.vue
Due: lint-backend, test-backend, test-frontend

Fix creature portrait images missing on encounter turn sheets
  backend/internal/domain/game_instance.go
  backend/internal/domain/game_instance_capacity_test.go
  backend/internal/runner/server/game/game_subscription_join_handler.go
  backend/internal/runner/server/game/game_subscription_join_handler_test.go
  backend/internal/turnsheet/adventure_game_creature_encounter_test.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.pdf
  backend/templates/turnsheet/adventure_game_monster_encounter.template
Due: lint-backend, test-backend

Add Heroku log tailing tool for remote monitoring
  tools/heroku-logs
Due: test-backend

Fix demo game catalog visibility and join/subscription flow
  backend/db/20260321214409_add_pending_approval_expires_at_to_game_subscription.down.sql
  backend/db/20260321214409_add_pending_approval_expires_at_to_game_subscription.up.sql
  backend/db/20260321214420_catalog_view_with_capacity.down.sql
  backend/db/20260321214420_catalog_view_with_capacity.up.sql
  backend/internal/domain/game_instance.go
  backend/internal/domain/game_subscription.go
  backend/internal/jobclient/jobclient.go
  backend/internal/jobworker/expire_pending_subscriptions.go
  backend/internal/jobworker/game_turn_queueing.go
  backend/internal/mapper/catalog.go
  backend/internal/mapper/catalog_game_instance.go
  backend/internal/record/game_record/catalog_game_instance_view.go
  backend/internal/record/game_record/game_subscription.go
  backend/internal/runner/cli/demo_scenarios/demo_scenarios.go
  backend/internal/runner/cli/load_game_data.go
  backend/internal/runner/server/catalog/catalog.go
  backend/internal/runner/server/catalog/catalog_game_handler.go
  backend/internal/runner/server/catalog/catalog_game_handler_test.go
  backend/internal/runner/server/game/game_subscription_handler.go
  backend/internal/runner/server/game/game_subscription_join_handler.go
  backend/internal/runner/server/game/game_subscription_join_handler_test.go
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_inventory_management_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_join_game_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_location_choice_turnsheet.pdf
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.html
  backend/internal/turnsheet/testdata/adventure_game_monster_encounter_turnsheet.pdf
  backend/schema/api/catalog_schema/catalog.go
  backend/schema/api/catalog_schema/catalog_game.collection.response.schema.json
  backend/schema/api/catalog_schema/catalog_game.schema.json
  backend/schema/api/game_schema/catalog_game_instance.go
  backend/schema/api/game_schema/catalog_game_instance.schema.json
  frontend/src/api/catalog.js
  frontend/src/api/catalog.test.js
  frontend/src/views/GameCatalogView.vue
Due: lint-backend, test-backend, test-frontend

Fix GameCatalogView test missing remaining_capacity in mock data
  frontend/src/views/GameCatalogView.test.js
Due: test-frontend

Path conditions:
  lint-backend: any of: backend/**/*, tools/golang-lint
  test-backend: any of: backend/**/*, tools/**/*
  test-frontend: any of: frontend/**/*
